<template lang="pug">

	div

		h1(v-if="$store.state.pageData && $store.state.pageData.data && $store.state.pageData.data.entity_legal", v-html="getLegal($store.state.pageData.data.entity_legal).short + ' ' + $store.state.pageData.data.entity_fullname + '' + ($store.state.pageData.data.ignored == '1' ? ' <span class=\"c_red\">(ненадежная компания)</span>' : '')")

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addCompany')") #[i.ion-settings] #[span Редактировать профиль]
			.btn.btn_red(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить профиль]
			.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '1'", @click="$store.commit('openPopup', 'addDocument')") #[i.ion-document] #[span Создать документ]

		.content
			.message(v-if='message') {{ message }}
			.card(v-if='$store.state.pageData && $store.state.pageData.data')
				.card__about
					.card__about-inner
						.card__about-head
							.card__about-logo(v-if='$store.state.pageData.data.img'): img(:src="$store.state.pageData.data.img", :alt="getLegal($store.state.pageData.data.entity_legal).short + ' «' + $store.state.pageData.data.entity_fullname + '»'")
							.card__about-logo(v-else-if='$store.state.pageData.data.entity_fullname') {{ $store.state.pageData.data.entity_fullname.slice(0,1).toUpperCase() }}
							//-.card__about-name: h1 {{ getLegal($store.state.pageData.data.entity_legal).short }} {{ $store.state.pageData.data.entity_fullname }}
						.card__about-info
							.card__table
								.table
									.table__row
										.table__cell.card__table-title(colspan='2') О компании:
									.table__row(v-if="$store.state.pageData.data.entity_legal")
										.table__cell.table__cell_first Форма организационной структуры
										.table__cell {{ getLegal($store.state.pageData.data.entity_legal).full }}
									.table__row
										.table__cell.table__cell_first Полное название
										.table__cell {{ $store.state.pageData.data.entity_fullname }}
									.table__row
										.table__cell.table__cell_first Сокращенное название
										.table__cell {{ $store.state.pageData.data.entity_shortname }}
									.table__row
										.table__cell.card__table-title(colspan='2') Контакты:
									.table__row(v-if="$store.state.pageData.data.entity_legal_address")
										.table__cell.table__cell_first Юридический адрес
										.table__cell {{ $store.state.pageData.data.entity_legal_address }}
									.table__row(v-if="$store.state.pageData.data.entity_actual_address")
										.table__cell.table__cell_first Фактически адрес
										.table__cell {{ $store.state.pageData.data.entity_actual_address }}
									.table__row(v-if="$store.state.pageData.data.entity_email")
										.table__cell.table__cell_first Email
										.table__cell #[a(:href="'mailto:' + $store.state.pageData.data.entity_email") {{ $store.state.pageData.data.entity_email }}]
									.table__row(v-if="$store.state.pageData.data.entity_phone")
										.table__cell.table__cell_first Телефон
										.table__cell #[a(:href="'tel:' + $store.state.pageData.data.entity_phone") {{ $store.state.pageData.data.entity_phone }}]
									.table__row(v-if="$store.state.pageData.extra && $store.state.pageData.data.entity_director !== '0'")
										.table__cell.table__cell_first Руководитель
										.table__cell: router-link(:to="{path: '/staff/' + $store.state.pageData.extra.entity_director.id}") {{ $store.state.pageData.extra.entity_director.second_name || '' }} {{ $store.state.pageData.extra.entity_director.first_name || '' }} {{ $store.state.pageData.extra.entity_director.third_name || '' }}
									.table__row(v-if="$store.state.pageData.extra && $store.state.pageData.data.entity_accountant !== '0'")
										.table__cell.table__cell_first Главный бухгалтер
										.table__cell: router-link(:to="{path: '/staff/' + $store.state.pageData.extra.entity_accountant.id}") {{ $store.state.pageData.extra.entity_accountant.second_name || '' }} {{ $store.state.pageData.extra.entity_accountant.first_name || '' }} {{ $store.state.pageData.extra.entity_accountant.third_name || '' }}
									.table__row
										.table__cell.card__table-title(colspan='2') Банковские реквизиты:
									.table__row(v-if="$store.state.pageData.data.entity_inn")
										.table__cell.table__cell_first ИНН
										.table__cell {{ $store.state.pageData.data.entity_inn }}
									.table__row(v-if="$store.state.pageData.data.entity_kpp")
										.table__cell.table__cell_first КПП
										.table__cell {{ $store.state.pageData.data.entity_kpp }}
									.table__row(v-if="$store.state.pageData.data.entity_okpo")
										.table__cell.table__cell_first ОКПО
										.table__cell {{ $store.state.pageData.data.entity_okpo }}
									.table__row(v-if="$store.state.pageData.data.entity_ogrn")
										.table__cell.table__cell_first ОГРН
										.table__cell {{ $store.state.pageData.data.entity_ogrn }}
									.table__row(v-if="$store.state.pageData.data.bank_bik")
										.table__cell.table__cell_first БИК банка
										.table__cell  {{ $store.state.pageData.data.bank_bik }}
									.table__row(v-if="$store.state.pageData.data.bank_name")
										.table__cell.table__cell_first Название банка
										.table__cell {{ $store.state.pageData.data.bank_name }}
									.table__row(v-if="$store.state.pageData.data.bank_placement")
										.table__cell.table__cell_first Адрес банка
										.table__cell {{ $store.state.pageData.data.bank_placement }}
									.table__row(v-if="$store.state.pageData.data.bank_rcheck")
										.table__cell.table__cell_first Расчетный счет
										.table__cell {{ $store.state.pageData.data.bank_rcheck }}
									.table__row(v-if="$store.state.pageData.data.bank_ccheck")
										.table__cell.table__cell_first Кореспондентский счет
										.table__cell {{ $store.state.pageData.data.bank_ccheck }}
									.table__row(v-if="$store.state.pageData.data.entity_nds")
										.table__cell.table__cell_first НДС
										.table__cell {{ $store.state.pageData.data.entity_nds == '0' ? 'Без НДС' : $store.state.pageData.data.entity_nds + ' %' }}
									.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.card__table-title(colspan='2') Дополнительно:
									.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.card__table-text(colspan='2')  {{ $store.state.pageData.data.description }}

				.card__title(v-if='users.length') Сотрудники компании
				.card__list(v-if='users.length')
					card-item(v-for='(user, index) in users', :object='user', :type='"user"', :key='index')

				.card__title(v-if='objects.length') Объекты компании
				.card__list(v-if='objects.length')
					card-item(v-for='(object, index) in objects', :object='object', :type='"object"', :key='index')

				.card__title(v-if='documents.length') Документы
				.card__list(v-if='documents.length')
					card-item(v-for='(document, index) in documents', :object='document', :type='"document"', :key='index')


</template>

<script>

	import CardItem from './component/card-item.vue'

	export default {
		data (context) {

			return {
				message: '',
				users: [],
				objects: [],
				documents: []
			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getCompanyItem(
					{id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
						} else {
							this.message = 'Такой компании нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
				this.$api.getCompanyUsers({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.users = res.data.users;
						}
					}
				);
				this.$api.getObjectByCompany({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.objects = res.data.data;
						}
					}
				);
				this.$api.getDocumentList({id_company: this.$route.params.id},
					(res)=>{
						if (DEVELOPMENT) console.info(res.data.data);
						if ( res.data.status === !0 ){
							this.documents = res.data.data;
						}
					}
				);
			},

			getLegal(val){

				let l =  {full: '',short: ''};

				if (val){
					l.full = this.$info.getLegal(val).fullName;
					l.short = this.$info.getLegal(val).shortName;
				}

				return l;

			}
		},

		components: {
			CardItem
		}
	}

</script>

<style lang="scss">

</style>