<template lang="pug">
	div
		h1 Компании

		.menu
			.btn.btn_green(v-if="$store.state.auth.rank == '0'", @click="showAddCompanyModal") #[i.ion-person-add] #[span Добавить компанию]

		.search: form-field(v-for='(field, index) in fields', :field='field', :key='index', ref="search")

		.content
			.card
				.card__list(v-if="$store.getters.getPageData")
					card-item(v-for='(agent, index) in $store.getters.getPageData.data', :object='agent', :type='"company"', :key='index')

			.message(v-if='message') {{ message }}

</template>


<script>
	import FormField from './component/form-field.vue'
	import CardItem from './component/card-item.vue'
	import _ from 'lodash'

	export default {

		data (context) {

			return {

				fields: [
					{
						ico: 'ion-search',
						type:'search',
						local: true,
						name: 'search',
						placeholder: 'Найти компанию'
					}
				],

				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		beforeDestroy(){
			$(this.$el).find('[name=search]').off('keyup');
		},

		mounted(){

			$(this.$el).find('[name=search]').on('keyup', _.debounce(()=>{

				this.$api.searchCompany({'search': this.$refs.search[0].value},
					(res)=>{
						if ( !res.data ){
							this.message = 'Ошибка загрузки'
						} else if ( res.data.status ) {
							this.$store.commit('setPageData', res.data);
							if ( res.data.data.length ) {
								this.message = '';
							} else {
								this.message = 'Компании с таким названием не найдено.';
							}
						} else {

						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			}, 500));

		},

		methods: {

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getCompanyList({},
					(res)=>{
						if ( !res.data ){
							this.message = 'Ошибка загрузки'
						} else if ( res.data.status ) {
							if ( res.data.data.length ) {
								this.$store.commit('setPageData', res.data);
							} else {
								this.message = 'Список контрагентов пуст'
							}
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},

			showAddCompanyModal(e){
				this.$store.commit('openPopup', 'addCompany');
			}

		},

		components: {
			FormField,
			CardItem
		}
	}

</script>

<style lang="scss">

</style>