<template lang="pug">
	div
		h1 Календарь событий

		.content
			.message(v-if='message') {{ message }}
			Calendar(v-if="$store.state.pageData.data", :events="$store.state.pageData.data", ref="calendar")


			.calendar__result(v-if='$refs.calendar')
				h2
					span(v-html="$refs.calendar.activeDateText")
					| &nbsp;  &nbsp;
					.btn.btn_green(v-if="$refs.calendar.showAddBtn && ($store.state.auth.rank == '0' || $store.state.auth.rank == '1')", @click="showAddEventModal()")
						i.ion-compose
						span Добавить событие

				.card
					.card__list(v-if="$refs.calendar.dayEvents")
						card-item(v-for='(event, index) in $refs.calendar.dayEvents', :object="event", :type='"event"', :key='index')
					.card__message(v-else) В этот день нет запланированных событий.
</template>

<script>

	import Calendar from '../view/component/calendar.vue'
	import CardItem from './component/card-item.vue'
	import _ from 'lodash'

	export default {
		data (context) {
			return {
				activeDate: null,
				loadedEvents: {},
				message: ''
			}
		},

		beforeCreate(){
			this.$store.commit('setPageData', {data:[]});
		},


		created(){
			this.loadPage();
		},

		mounted(){

			let method =  this.$store.state.auth.rank === '2' ? 'getEventByUser' : 'getEventList';

			this.$watch(e=>this.$refs.calendar.calendar,
				(val) => {
					if ( !this.loadedEvents[val.year] ){
						this.$api[method]({from: `${val.year}-01-01`, to: `${val.year}-12-31`},
							(res)=>{
								if ( res.data.status === !0 ){
									if ( res.data.data.length ) this.$store.commit('setPageData', {data:_.concat(this.$store.state.pageData.data, res.data.data)});
									this.loadedEvents[val.year] = true;
								} else {
									this.message = 'Ошибка загрузки';
								}
							},
							(err)=>{
								this.message = `Ошибка загрузки (${err})`
							},
							()=>{
								this.$store.commit('endLoading');
							}
						);
					}
				}
			);

		},


		methods: {
			loadPage(){
				let method =  this.$store.state.auth.rank === '2' ? 'getEventByUser' : 'getEventList';

				this.$store.commit('startLoading');
				this.message = '';
				this.$api[method]({},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
							this.loadedEvents[new Date().getFullYear()] = true;
						} else {
							this.message = 'Ошибка загрузки';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},

			showAddEventModal(e){
				this.$store.commit('setDate', this.$refs.calendar.active);
				this.$store.commit('openPopup', 'addEvent');
			}
		},

		watch: {
			'$refs.calendar'(){
				alert('s')
			}
		},

		components: {
			Calendar,
			CardItem
		}
	}
</script>

<style lang="scss">

</style>