<template lang="pug">
	div
		h1 {{ title }}

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '1'", @click="$store.commit('openPopup', 'addDocument')") #[i.ion-document] #[span Редактировать документ]
			.btn.btn_blue(v-if="$store.state.pageData && $store.state.auth.rank == '1'", @click="download()") #[i.ion-android-download] #[span Скачать документ]
			//-.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addTemplate')") #[i.ion-settings] #[span Редактировать шаблон]
			//-.btn.btn_red(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить шаблон]

		.content
			.message(v-if='message') {{ message }}
			.card(v-if='$store.state.pageData')
				.card__about
					.card__about-inner
						.card__about-info
							.card__table
								.table
									.table__row(v-if="$store.state.pageData.extra.id_template")
										.table__cell.card__table-title(colspan='2') {{ $info.getDocType($store.state.pageData.extra.id_template.type).name }}
									.table__row(v-if="$store.state.pageData.extra.id_company")
										.table__cell.table__cell_first Заказчик
										.table__cell: router-link(:to="{path: '/company/' + $store.state.pageData.extra.id_company.id}") {{ $info.getLegal($store.state.pageData.extra.id_company.entity_legal).shortName + ' ' + $store.state.pageData.extra.id_company.entity_fullname }}
									.table__row
										.table__cell.table__cell_first Переменные в документе
										.table__cell

									.table__row(v-for="(variable, index) in JSON.parse($store.state.pageData.data.variables)")
										.table__cell.table__cell_first
											.tag-label(:class="parseVariables(index, variable).class")
												Tooltip.c_white(:content="'Значение переменной генерируется автоматически'", v-if="parseVariables(index, variable).class")
												| {{ index }}
										.table__cell {{ parseVariables(index, variable).html }}
									.table__row(v-if="$store.state.pageData.data.comment")
										.table__cell.table__cell_first Комментарий
										.table__cell {{ $store.state.pageData.data.comment }}

</template>



<script>

	import CardItem from './component/card-item.vue'
	import Tooltip from './component/tooltip.vue'

	export default {
		data (context) {

			return {
				url: false,
				title: '',
				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getDocument({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
							this.title = this.$store.state.pageData.data.document_number
						} else {
							this.message = 'Такого документа нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},

			parseVariables(k, v){

				return {
					class: k.match(/^crm_/i) ? 'tag-label_crm' : '',
					html: v.replace(/<w:t>/ig, ' ').replace(/<w:br\/>/ig, '\n')
				};
			},

			download(){
				this.$store.commit('startLoading');
				this.$api.getDocumentFile({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status ){

							//this.url = res.data.url;

							let a = document.createElement("a");
							document.body.appendChild(a);
							a.style = "display: none";
							a.href = res.data.url;
							a.download = 'Сгенерированный_документ.docx';
							a.click();

							setTimeout(()=>{
								a.remove();
							}, 1000);

						} else {
							this.message = res.message || `Ошибка сервера, попробуйте позже`
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				)
			}

		},

		components: {
			CardItem,
			Tooltip
		}
	}

</script>

<style lang="scss">

</style>