<template lang="pug">
	div
		h1 {{ title }}

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			//-.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addTemplate')") #[i.ion-settings] #[span Редактировать шаблон]
			//-.btn.btn_red(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить шаблон]

		.content
			.card
				.card__list(v-if="$store.getters.getPageData")
					card-item(v-for='(document, index) in $store.getters.getPageData.data', :object='document', :type='"document"', :key='index')


</template>


<script>


	import CardItem from './component/card-item.vue'

	export default {
		data (context) {

			return {
				title: '',
				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getDocumentList({},
					(res)=>{
						if ( !res.data ){
							this.message = 'Ошибка загрузки'
						} else if ( res.data.status ) {
							if ( res.data.data.length ) {
								this.$store.commit('setPageData', res.data);
							} else {
								this.message = 'Список документоы пуст'
							}
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			}

		},

		components: {
			CardItem
		}
	}


</script>

<style lang="scss">

</style>