<template lang="pug">
	div
		h1 Событие

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			.btn.btn_green(v-if="$store.state.pageData && parseInt($store.state.auth.rank) <= 1", @click="$store.commit('openPopup', 'addEvent')") #[i.ion-settings] #[span Редактировать событие]
			.btn.btn_red(v-if="$store.state.pageData && parseInt($store.state.auth.rank) <= 1", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить событие]

		.content
			.message(v-if='message') {{ message }}
			.card(v-if='$store.state.pageData')
				.card__about
					.card__about-inner
						.card__about-info
							.card__table
								.table
									.table__row
										.table__cell.card__table-title(colspan='2') {{ $info.getEvent($store.state.pageData.data.type).name }}
									.table__row
										.table__cell.table__cell_first Статус
										.table__cell.c_red(v-if="$store.state.pageData.data.confirm !== '1' && $store.state.pageData.data.event_past") Просрочено
										.table__cell.c_green(v-else-if="$store.state.pageData.data.confirm === '1'") Выполнено
										.table__cell.c_orange(v-else) Не выполнено
									.table__row
										.table__cell.table__cell_first Описание
										.table__cell {{ $store.state.pageData.data.description }}
									.table__row(v-if="$store.state.pageData.data.comment")
										.table__cell.table__cell_first Комментарий
										.table__cell {{ $store.state.pageData.data.comment }}
									.table__row
										.table__cell.table__cell_first Дата
										.table__cell {{ parseDate($store.state.pageData.data.event_date) }}
									.table__row
										.table__cell.table__cell_first Напоминание
										.table__cell {{ $store.state.pageData.data.notify }}
									.table__row(v-if="$store.state.pageData.extra.id_company")
										.table__cell.table__cell_first Компания
										.table__cell: router-link(:to="{path: '/company/' + $store.state.pageData.extra.id_company.id}") {{ $info.getLegal($store.state.pageData.extra.id_company.entity_legal).shortName + ' ' + $store.state.pageData.extra.id_company.entity_fullname }}
									.table__row(v-if="$store.state.pageData.extra.id_object")
										.table__cell.table__cell_first Объект
										.table__cell: router-link(:to="{path: '/object/' + $store.state.pageData.extra.id_object.id}") {{ $store.state.pageData.extra.id_object.name + ' (' + $store.state.pageData.extra.id_object.address + ')' }}
									.table__row
										.table__cell.table__cell_first Событие создал
										.table__cell: router-link(:to="{path: '/staff/' + $store.state.pageData.extra.created_by_user.id}") {{ $store.state.pageData.extra.created_by_user.second_name || '' }} {{ $store.state.pageData.extra.created_by_user.first_name || '' }} {{ $store.state.pageData.extra.created_by_user.third_name || '' }}

									.table__row(v-if="$store.state.pageData && parseInt($store.state.auth.rank) <= 1")
										.table__cell.card__table-title(colspan='2', v-if='$store.state.pageData.data.confirm === "1"')
											.btn(@click="$store.commit('openPopup', 'confirmEvent')") #[span {{$store.state.pageData.data.confirm === '' ? 'Добавить комментарий' : 'Дополнить комментарий'}}]
										.table__cell.card__table-title(colspan='2', v-else)
											.btn.btn_green(@click="$store.commit('openPopup', 'confirmEvent')") #[span Завершить событие]

				.card__title(v-if='$store.state.pageData.extra && $store.state.pageData.extra.users_ids && $store.state.pageData.extra.users_ids.length') Участники события
				.card__list(v-if='$store.state.pageData.extra && $store.state.pageData.extra.users_ids')
					card-item(v-for='(user, index) in $store.state.pageData.extra.users_ids', :object='user', :type='"user"', :key='index')

</template>



<script>


	import CardItem from './component/card-item.vue'

	export default {
		data (context) {

			return {
				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getEvent({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
						} else {
							this.message = res.data.message || 'Такого события нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},


			parseDate(val){
				let o = val.split('-');
				return `${o[2]}-${o[1]}-${o[0]}`
			}
		},

		components: {
			CardItem
		}
	}


</script>

<style lang="scss">

</style>