<template lang="pug">
	div
		//-h1 Я

		.content(v-if='$store.state.auth.rank < 1')

			h1 Добро пожаловать в CRM Maestros.

			.card
				.card__title О CRM
				.card__about
					.card__about-inner
						.card__about-info.card__about-text
							p CRM Maestros (далее CRM) предназначена для организации ведения договоров.
							p Функционал CRM расчитан на создание собственной базы контрагентов, объектов обслуживания и сотрудников. В системе присуствует функционал создания событий с возможностью напоминанием сотрудникам о событиях.

				.card__title Организационная структура CRM

				.card__about
					.card__about-inner
						.card__about-info.card__about-text
							p В роли управляющего базой данных CRM выступает Суперадминистратор - нулевой пользователь с особыми правами.

							p База CRM включает несколько сущностей:
							ul
								li #[b Компания] - контрагент.
								li #[b Объект] - объект обслуживания, имеющий географическую привязку.
								li #[b Персонал] - сотрудник компаний.
								li #[b Событие] - запланированное событие.
								li #[b Шаблон] - шаблон формата word, для генерации документов.
								li #[b Документ] - документ (договор, приложение и т.п.) генерируемый в формате word из имеющегося шаблона.

				.card__title Пользователи CRM

				.card__about
					.card__about-inner
						.card__about-info.card__about-text
							p #[b Суперадминистратор] - пользователь, выступающий в роли модератора. Обладает правами на создание/редактирование/удаление сущностей: Компания, Объект, Персонал, Шаблон. Он же создает карточки пользователей и назначает пользователям статус администратора или наблюдателя.
							p #[b Администратор] - статус для пользоватилей-руководителей. Администратор может просматривать данные о всех созданных пользователях, компаниях и событиях, а также создавать и редактировать новые события и документы из шаблонов.
							p #[b Наблюдатель] - пользоватиль-исполнитель. Может просматривать лишь события, участником которых назначен.


		.content(v-else)
			.card
				.card__title(v-if='companyes.length') {{ companyes.length > 1 ? 'Мои компании' : 'Моя компания' }}
				.card__list(v-if='companyes')
					card-item(v-for='(company, index) in companyes', :object='company', :type='"company"', :key='index')

			.card(v-if='$store.state.overdueEvents.length')
				.card__title Пропущенные события
				.card__list
					card-item(v-for='(event, index) in $store.state.overdueEvents', :object='event', :type='"event"', :key='index')

			.card
				.card__title(v-if='events.length') Мои события в ближайшую неделю
				.card__title(v-else) В ближайшую неделю запланированных событий нет.
				.card__list(v-if='events')
					card-item(v-for='(event, index) in events', :object='event', :type='"event"', :key='index')

			//.message(v-if='message') {{ message }}

</template>

<script>
	import FormField from './component/form-field.vue'
	import CardItem from './component/card-item.vue'

	export default {
		data () {
			return {
				message: '',
				events: [],
				companyes: [],
			}
		},

		created(){
			this.loadPage();
		},

		mounted(){

		},

		methods: {

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getEventByUser({
						id: this.$store.state.auth.user.id,
						from: new Date().toISOString().slice(0,10),
						to: new Date(new Date().getTime() + 604800000).toISOString().slice(0,10)
					},
					(res)=>{
						if ( res.data.status === !0 ){
							this.events = res.data.data;
						} else {
							this.message = res.data.message || 'Ошибка загрузки';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);

				this.$api.getUserItem({id: this.$store.state.auth.user.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.companyes = res.data.extra.company_id;
						} else {
							this.message = res.data.message || 'Ошибка загрузки';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);


			},

		},

		computed: {

		},

		watch: {

		},

		components: {
			FormField,
			CardItem
		}
	}
</script>

<style lang="scss">

</style>