<template lang="pug">

	div

		h1(v-if='$store.state.pageData') {{ $store.state.pageData.data.name }}

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addObject')") #[i.ion-settings] #[span Редактировать объект]
			.btn.btn_red(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить объект]

		.content
			.message(v-if='message') {{ message }}
			.card(v-if='$store.state.pageData')

				.card__about
					.card__about-inner
						.card__map: GeoMap(:options="mapOptions", :objects="mapObjects", ref="myMap")
						.card__about-head
							//-.card__about-logo(v-if='$store.state.pageData.data.img')
								img(:src="$store.state.pageData.data.img", :alt="$store.state.pageData.data.second_name + ' ' + $store.state.pageData.data.first_name ")
							//-.card__about-logo(v-else-if='$store.state.pageData.data.second_name') {{ $store.state.pageData.data.second_name.slice(0,1).toUpperCase() }}
							//-.card__about-name: h1 {{ $store.state.pageData.data.second_name }} {{ $store.state.pageData.data.first_name }} {{ $store.state.pageData.data.third_name }}
						.card__about-info

							.card__table
								.table
									.table__row
										.table__cell.card__table-title(colspan='2') Информация об объекте
									.table__row(v-if="$store.state.pageData.extra.id_company")
										.table__cell.table__cell_first Компания
										.table__cell: router-link(:to="{path: '/company/' + $store.state.pageData.extra.id_company.id}") {{ $info.getLegal($store.state.pageData.extra.id_company.entity_legal).shortName + ' ' + $store.state.pageData.extra.id_company.entity_fullname }}
									.table__row
										.table__cell.table__cell_first Адрес
										.table__cell {{ $store.state.pageData.data.address }}
									.table__row(v-if="$store.state.pageData.data.email")
										.table__cell.table__cell_first Email
										.table__cell #[a(:href="'mailto:' + $store.state.pageData.data.email") {{ $store.state.pageData.data.email }}]
									.table__row(v-if="$store.state.pageData.data.phone")
										.table__cell.table__cell_first Телефон
										.table__cell #[a(:href="'tel:' + $store.state.pageData.data.phone") {{ $store.state.pageData.data.phone }}]
									.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.table__cell_first Описание
										.table__cell {{ $store.state.pageData.data.description }}
									//-.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.card__table-title(colspan='2') Описание:
									//-.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.card__table-text(colspan='2')

				.card__title(v-if='$store.state.pageData.extra && $store.state.pageData.extra.users_ids && $store.state.pageData.extra.users_ids.length') Ответственные за объект
				.card__list(v-if='$store.state.pageData.extra && $store.state.pageData.extra.users_ids')
					card-item(v-for='(user, index) in $store.state.pageData.extra.users_ids', :object='user', :type='"user"', :key='index')


</template>

<script>

	import CardItem from './component/card-item.vue'

	import GeoMap from './component/2gis-map.vue'

	export default {
		data (context) {

			return {
				mapOptions:{
					center: [],
					zoom: 16,
					minZoom: 10,
					maxZoom: 20,

					scrollWheelZoom: false,
					iconOptions: {
						interactive: false
					},
					markerViewParser: (obj) => {
						return obj;
					},
					onInit: (map) => {

					},
					onBoundsChange: (map) => {
					}
				},
				mapObjects:[],

				message: ''

			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getObject({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);

							let coord = this.$store.state.pageData.data.coordinates.replace(/\s/g, '').split(",");

							this.mapOptions.center = coord;
							this.mapObjects.push({
								coordinates: coord,
								icon: {
									// iconUrl: '/img/marker.png',
									// iconRetinaUrl: 'my-icon@2x.png',
									iconSize: [45, 53],
									iconAnchor: [18, 53],
									popupAnchor: [0, 0],
									html: `<div class="map-marker">${(this.$store.state.pageData.data.img ? '<img src="' + this.$store.state.pageData.data.img + '">' : '')}</div>`,
									//html: `<b style="color:blue;">HTML-код</b>`,
									// bgPos: [0, 0],
								}
							});
						} else {
							this.message = 'Такого объекта нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},
		},

		components: {
			GeoMap,
			CardItem
		}
	}


</script>

<style lang="scss">

</style>