<template lang="pug">
	div
		h1 Объекты

		.menu
			.btn.btn_green(v-if="$store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addObject')") #[i.ion-person-add] #[span Добавить объект]

		.content
			.card
				.card__about(v-if="mapObjects.length")
					.card__about-inner
						.card__map: GeoMap(:options="mapOptions", :objects="mapObjects", ref="myMap")

				.card__list(v-if="$store.getters.getPageData")
					card-item(v-for='(obj, index) in $store.getters.getPageData.data', :object='obj', :type='"object"', :key='index')
			.message(v-if='message') {{ message }}

</template>

<script>
	import FormField from './component/form-field.vue'
	import GeoMap from './component/2gis-map.vue'
	import CardItem from './component/card-item.vue'
	import _ from 'lodash'
	import $ from 'jquery'

	export default {

		data () {

			let that = this;

			return {
				mapOptions:{
					zoom: 16,
					scrollWheelZoom: false,
					minZoom: 0,
					maxZoom: 23,
					iconOptions: {},
					markerViewParser:(obj)=>{
						return obj;
					},
					onInit: (map) => {
					},
					onMarkersAdded(map){
						// console.info(map);
						// map.on('click', (e)=>{
						// 	console.info(e);
						// });
					}
				},
				mapObjects:[],

				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		mounted(){

		},

		methods: {

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getObjectList({},
					(res)=>{
						if ( !res.data ){
							this.message = 'Ошибка загрузки'
						} else if ( res.data.status ) {
							if ( res.data.data.length ) {
								this.$store.commit('setPageData', res.data);

								let arr = [];

								for (let i = 0; i < res.data.data.length; i++){
									arr.push({
										coordinates: res.data.data[i].coordinates.replace(/\s/g, '').split(","),
										icon: {
											iconUrl: '/img/marker.png',
											// iconRetinaUrl: 'my-icon@2x.png',
											iconSize: [45, 53],
											iconAnchor: [18, 53],
											popupAnchor: [0, 0],
											html: `<div class="map-marker">${(res.data.data[i].img ? '<img src="' + res.data.data[i].img + '">' : '')}</div>`,
											//html: `<b style="color:blue;">HTML-код</b>`,
											// bgPos: [0, 0],
										},
										popup: $(`<div><div>${res.data.data[i].name}</div><div>${res.data.data[i].address}</div><br><div><a href="#">Перейти на страницу объекта >></a></div></div>`).on('click', 'a', (e)=>{ e.preventDefault(); this.$router.push(`/object/${res.data.data[i].id}`); })[0],
										properties: {
											objectId: res.data.data[i].id,
											objectLogo: res.data.data[i].img,
											objectAddress: res.data.data[i].address,
											objectName: res.data.data[i].name
										}
									});
								}
								arr.sort((a, b)=>{
									return b.coordinates[0] - a.coordinates[0];
								});

								this.mapObjects = arr;

							} else {
								this.message = 'Список объектов пуст'
							}
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			}

		},

		components: {
			FormField,
			GeoMap,
			CardItem
		}
	}

</script>

<style lang="scss">

</style>