<template lang="pug">
	div
		h1 Настройки

		.menu
			.btn.btn_green(v-if="$store.state.pageData", @click="$store.commit('openPopup', 'addUser')") #[i.ion-settings] #[span Редактировать профиль]

		.content
			.card(v-if='$store.state.pageData')
				.card__about
					.card__about-inner
						.card__about-head
							.card__about-logo(v-if='$store.state.pageData.data.img')
								img(:src="$store.state.pageData.data.img", :alt="$store.state.pageData.data.second_name + ' ' + $store.state.pageData.data.first_name ")
							.card__about-logo(v-else-if='$store.state.pageData.data.second_name') {{ $store.state.pageData.data.second_name.slice(0,1).toUpperCase() }}
							//-.card__about-name
						.card__about-info

							.card__table
								.table
									.table__row
										.table__cell.card__table-title(colspan='2') {{ $store.state.pageData.data.second_name }} {{ $store.state.pageData.data.first_name }} {{ $store.state.pageData.data.third_name }}
									.table__row(v-if="$store.state.pageData.extra && $store.state.pageData.extra.company_id")
										.table__cell.table__cell_first Компания
										.table__cell
											p(v-for="company in $store.state.pageData.extra.company_id"): router-link(:to="{path: '/company/' + company.id}") {{ getLegal(company.entity_legal).short + ' ' + company.entity_fullname }}
									.table__row
										.table__cell.table__cell_first Должность
										.table__cell {{ $store.state.pageData.data.position }}
									.table__row(v-if='$store.state.pageData.data.gender')
										.table__cell.table__cell_first Пол
										.table__cell {{ $store.state.pageData.data.gender == 'male' ? 'Мужской' : 'Женский'  }}
									.table__row(v-if="$store.state.pageData.data.email")
										.table__cell.table__cell_first Email
										.table__cell #[a(:href="'mailto:' + $store.state.pageData.data.email") {{ $store.state.pageData.data.email }}]
									.table__row(v-if="$store.state.pageData.data.phone && $store.state.auth.rank > '0'")
										.table__cell.table__cell_first Телефон
										.table__cell #[a(:href="'tel:' + $store.state.pageData.data.phone") {{ $store.state.pageData.data.phone }}]


		div(v-if="$store.state.auth.rank === '0'")
			h2 Настройки компании
			h2 Типы событий
			.content

				.card
					.card__about
						.card__about-inner
							.card__about-info
								.card__table
									.table
										.table__row.table__row_head
											.table__cell id
											.table__cell Название
											.table__cell Иконка
											.table__cell Цвет
											.table__cell Управление
										.table__row(v-for='event, index in info.events', :key="index")
											.table__cell {{ index + 1 }}
											.table__cell
												input(type='text', v-model.trim='info.events[index].name', placeholder='Название события', size='15')
											.table__cell.wsnw
												input(type='text', v-model.trim='info.events[index].ico', placeholder='Название иконки', size='15')
												i(:class="info.events[index].ico")
											.table__cell.wsnw
												label
													input.is-hidden(type='color', v-model.trim='info.events[index].color', placeholder='Название иконки', size='4')
													i.ion-waterdrop(:style="'color:' + info.events[index].color + ';'")
											.table__cell.wsnw
												.btn.btn_ico.btn_red(@click="remove(info.events, index)"): span: i.ion-close-round
												.btn.btn_ico.btn_green(v-if='index !== 0', @click="move(info.events, index, index-1)"): span: i.ion-android-arrow-up
												.btn.btn_ico.btn_green(v-if='index < info.events.length - 1', @click="move(info.events, index, index+1)"): span: i.ion-android-arrow-down

									br
									.btn.btn_green(@click="addItem(info.events, ['name', 'ico'])"): span Добавить тип события

			h2 Формы организации
			.content
				.card
					.card__about
						.card__about-inner
							.card__about-info
								.card__table
									.table
										.table__row.table__row_head
											.table__cell id
											.table__cell Сокращенное название
											.table__cell Полное название
											.table__cell Управление
										.table__row(v-for='legal, index in info.legals', :key="index")
											.table__cell {{ index + 1 }}
											.table__cell
												input(type='text', v-model.trim='info.legals[index].shortName', placeholder='Сокращенное название', size='10')
											.table__cell
												input(type='text', v-model.trim='info.legals[index].fullName', placeholder='Полное название', size='30')
											.table__cell.wsnw
												.btn.btn_ico.btn_red(@click="remove(info.legals, index)"): span: i.ion-close-round
												.btn.btn_ico.btn_green(v-if='index !== 0', @click="move(info.legals, index, index-1)"): span: i.ion-android-arrow-up
												.btn.btn_ico.btn_green(v-if='index < info.legals.length - 1', @click="move(info.legals, index, index+1)"): span: i.ion-android-arrow-down

									br
									.btn.btn_green(@click="addItem(info.legals, ['shortName', 'fullName'])"): span Добавить форму организации

			h2 Типы документов
			.content
				.card
					.card__about
						.card__about-inner
							.card__about-info
								.card__table
									.table
										.table__row.table__row_head
											.table__cell id
											.table__cell Префикс
											.table__cell Название
											.table__cell Иконка
											.table__cell Управление
										.table__row(v-for='doctype, index in info.doctypes', :key="index")
											.table__cell {{ index + 1 }}
											.table__cell
												input(type='text', v-model.trim='info.doctypes[index].prefix', placeholder='Префикс документа', size='5')
											.table__cell
												input(type='text', v-model.trim='info.doctypes[index].name', placeholder='Название документа', size='30')
											.table__cell.wsnw
												input(type='text', v-model.trim='info.doctypes[index].ico', placeholder='Название иконки', size='15')
												i(:class="info.doctypes[index].ico")
											.table__cell.wsnw
												.btn.btn_ico.btn_red(@click="remove(info.doctypes, index)"): span: i.ion-close-round
												.btn.btn_ico.btn_green(v-if='index !== 0', @click="move(info.doctypes, index, index-1)"): span: i.ion-android-arrow-up
												.btn.btn_ico.btn_green(v-if='index < info.doctypes.length - 1', @click="move(info.doctypes, index, index+1)"): span: i.ion-android-arrow-down

									br
									.btn.btn_green(@click="addItem(info.doctypes, ['name', 'prefix', 'ico'])"): span Добавить тип документа
			.content
				.message(v-if='message') {{ message }}

				.card
					br
					.btn.btn_blue(@click="submit()"): span Сохранить значения

</template>

<script>

	export default {
		data (context) {

			return {
				message: '',
				info: {}
			}
		},

		mounted(){
			this.info = this.$info.getInfo();
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getUserItem({id: this.$store.state.auth.user.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
						} else {
							this.message = 'Такого сотрудника нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},

			getLegal(val){
				return {
					full: this.$info.getLegal(val).fullName,
					short: this.$info.getLegal(val).shortName
				}
			},


			move(arr, old_index, new_index){
				if (new_index >= arr.length) {
					let k = new_index - arr.length + 1;
					while (k--) {
						arr.push(undefined);
					}
				}
				arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
				return arr; // for testing
			},

			remove(arr, i){
				arr.splice(i, 1);
			},

			addItem(arr, el){
				let obj = {};
				for (let i = 0; i < el.length; i++){
					obj[el[i]] = '';
				}
				obj.value = arr.length.toString();
				arr.push(obj);
			},


			submit(){

				let data = {};

				Object.keys(this.info).map((key)=>{
					data[key] = [];

					for(let i = 0; i < this.info[key].length; i++){
						data[key][i] = this.info[key][i];
						data[key][i].value = (i + 1).toString();
					}
				});

				this.$store.commit('startLoading');
				this.message = '';

				this.$api.setInfoAuth({info: JSON.stringify(data), id: this.$store.state.auth.user.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$info.setInfo(data);
						} else {
							this.message = 'Ошибка';
						}

						if ( res.data.message ) this.message = res.data.message;
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			}
		}
	}

</script>

<style lang="scss">

</style>