<template lang="pug">
	div

		h1(v-if="$store.state.pageData") {{ $store.state.pageData.data.second_name }} {{ $store.state.pageData.data.first_name }} {{ $store.state.pageData.data.third_name }}

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addUser')") #[i.ion-settings] #[span Редактировать профиль]
			.btn.btn_red(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить профиль]
			.btn.btn_orange(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'userAccess')") #[i.ion-unlocked] #[span {{ $store.state.pageData.data.access ? "Закрыть доступ сотруднику" : "Открыть доступ сотруднику" }}]

		.content
			.message(v-if='message') {{ message }}
			.card(v-if='$store.state.pageData')
				.card__about
					.card__about-inner
						.card__about-head
							.card__about-logo(v-if='$store.state.pageData.data.img')
								img(:src="$store.state.pageData.data.img", :alt="$store.state.pageData.data.second_name + ' ' + $store.state.pageData.data.first_name ")
							.card__about-logo(v-else-if='$store.state.pageData.data.second_name') {{ $store.state.pageData.data.second_name.slice(0,1).toUpperCase() }}
							//-.card__about-name
						.card__about-info

							.card__table
								.table
									.table__row
										.table__cell.card__table-title(colspan='2') {{ $store.state.pageData.data.second_name }} {{ $store.state.pageData.data.first_name }} {{ $store.state.pageData.data.third_name }}
									.table__row
										.table__cell.table__cell_first Компания
										.table__cell
											p(v-for="company in $store.state.pageData.extra.company_id"): router-link(:to="{path: '/company/' + company.id}") {{ getLegal(company.entity_legal).short + ' ' + company.entity_fullname }}
									.table__row
										.table__cell.table__cell_first Должность
										.table__cell {{ $store.state.pageData.data.position }}
									.table__row
										.table__cell.table__cell_first Пол
										.table__cell {{ $store.state.pageData.data.gender == 'male' ? 'Мужской' : 'Женский'  }}
									.table__row(v-if="$store.state.pageData.data.email")
										.table__cell.table__cell_first Email
										.table__cell #[a(:href="'mailto:' + $store.state.pageData.data.email") {{ $store.state.pageData.data.email }}]
									.table__row(v-if="$store.state.pageData.data.phone")
										.table__cell.table__cell_first Телефон
										.table__cell #[a(:href="'tel:' + $store.state.pageData.data.phone") {{ $store.state.pageData.data.phone }}]
									.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.card__table-title(colspan='2') Дополнительно:
									.table__row(v-if="$store.state.pageData.data.description")
										.table__cell.card__table-text(colspan='2')  {{ $store.state.pageData.data.description }}


</template>

<script>

	export default {
		data (context) {

			return {
				message: '',
			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getUserItem({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
						} else {
							this.message = 'Такого сотрудника нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},

			getLegal(val){
				return {
					full: this.$info.getLegal(val).fullName,
					short: this.$info.getLegal(val).shortName
				}
			}
		}
	}

</script>

<style lang="scss">

</style>