<template lang="pug">
	div
		h1 Сотрудники
		.menu
			.btn.btn_green(v-if="$store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addUser')") #[i.ion-person-add] #[span Добавить сотрудника]

		.search: form-field(v-for='(field, index) in fields', :field="field", :key="index", ref="search")

		.content
			.card
				.card__list(v-if='$store.getters.getPageData')
					card-item(v-for='(user, index) in $store.getters.getPageData.data', :object='user', :type='"user"', :key='index')

			.message(v-if='message') {{ message }}

</template>


<script>
	import FormField from './component/form-field.vue'
	import CardItem from './component/card-item.vue'
	import _ from 'lodash'
	import $ from 'jquery'

	export default {
		data () {

			return {

				fields: [
					{
						ico: 'ion-search',
						type:'search',
						local: true,
						name: 'search',
						placeholder: 'Найти сотрудника'
					}
				],

				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		mounted(){

			$('[name=search]').on('keyup', _.debounce(()=>{

				this.$api.searchUser({'search': this.$refs.search[0].value},
					(res)=>{
						if ( !res.data ){
							this.message = 'Ошибка загрузки'
						} else if ( res.data.status ) {
							this.$store.commit('setPageData', res.data);
							if ( res.data.data.length ) {
								this.message = '';
							} else {
								this.message = 'Сотрудника с таким именем не найдено.';
							}
						} else {

						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			}, 500));

		},

		methods: {

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getUserList({},
					(res)=>{
						if ( !res.data ){
							this.message = 'Ошибка загрузки'
						} else if ( res.data.status ) {
							if ( res.data.data.length ) {
								this.$store.commit('setPageData', res.data);
							} else {
								this.message = 'Список сотрудников пуст'
							}
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			},

		},

		computed: {

		},

		watch: {

		},

		components: {
			FormField,
			CardItem
		}
	}
</script>

<style lang="scss">

</style>