<template lang="pug">
	div
		h1 Шаблон

		.menu
			.btn(@click="$router.go(-1)") #[i.ion-reply] #[span Назад]
			.btn.btn_green(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'addTemplate')") #[i.ion-settings] #[span Редактировать шаблон]
			.btn.btn_red(v-if="$store.state.pageData && $store.state.auth.rank == '0'", @click="$store.commit('openPopup', 'remove')") #[i.ion-trash-a] #[span Удалить шаблон]

		.content
			.message(v-if='message') {{ message }}
			.card(v-if='$store.state.pageData')
				.card__about
					.card__about-inner
						.card__about-info
							.card__table
								.table
									.table__row
										.table__cell.card__table-title(colspan='2') {{ $info.getDocType($store.state.pageData.data.type).name }}
									.table__row
										.table__cell.table__cell_first Переменные в документе
										.table__cell
											.tag-label(v-for="(variable, index) in JSON.parse($store.state.pageData.data.variables)", v-html="variable")
									.table__row(v-if="$store.state.pageData.data.variables")
										.table__cell.table__cell_first Описание
										.table__cell {{ $store.state.pageData.data.description }}
									.table__row(v-if="$store.state.pageData.extra.id_company")
										.table__cell.table__cell_first Компания
										.table__cell: router-link(:to="{path: '/company/' + $store.state.pageData.extra.id_company.id}") {{ $info.getLegal($store.state.pageData.extra.id_company.entity_legal).shortName + ' ' + $store.state.pageData.extra.id_company.entity_fullname }}


</template>


<script>


	import CardItem from './component/card-item.vue'

	export default {
		data (context) {

			return {
				message: ''
			}
		},

		created(){
			this.loadPage();
		},

		methods:{

			loadPage(){
				this.$store.commit('startLoading');
				this.message = '';
				this.$api.getTemplateItem({id: this.$route.params.id},
					(res)=>{
						if ( res.data.status === !0 ){
							this.$store.commit('setPageData', res.data);
						} else {
							this.message = 'Такого шаблона нет';
						}
					},
					(err)=>{
						this.message = `Ошибка загрузки (${err})`
					},
					()=>{
						this.$store.commit('endLoading');
					}
				);
			}

		},

		components: {
			CardItem
		}
	}


</script>

<style lang="scss">

</style>