<template lang="pug">
	.app(:class='asideOpen ? "is-show-menu" : "" ')
		.app__aside
			.app__aside-inner
				.app__aside-handler(@click='toggleMenu'): i
				Navigation
		.app__content
			transition(mode='out-in'): router-view
			transition(mode="out-in"): .loading(v-if="$store.getters.isLoading"): .loading__inner

</template>

<script>
import Navigation from '../component/navigation.vue'

	export default {
		data () {
			return {
				asideOpen: false
			}
		},

		mounted (){

			if (this.$store.state.auth.rank > 0){
				this.$api.getOverdueEventByUser({id: this.$store.state.auth.user.id},
					(res)=>{
						this.$store.commit('setOverdueEvents', res.data.data);
					},
					()=>{});
			}
		},

		components: {
			Navigation
		},

		methods: {
			toggleMenu(){
				this.asideOpen = !this.asideOpen;
			}
		}
	}
</script>

<style lang="scss">


</style>