<template lang="pug">
	.wrapper(:class="{ wrapper_app: $store.state.auth.status === true, wrapper_welcome: $store.state.auth.status === false, 'is-modal': popupIsVisible }")
		.wrapper__inner
			transition(mode='out-in')
				Site(v-if='$store.state.auth.status === true')
				ModalAuth(v-else-if='$store.state.auth.status === false')
				.loading(v-else): .loading__inner

			ModalAddUser(:name="'addUser'", v-if="$store.getters.getPopupName === 'addUser'")
			ModalAddCompany(:name="'addCompany'", v-if="$store.getters.getPopupName === 'addCompany'")
			ModalAddEvent(:name="'addEvent'", v-if="$store.getters.getPopupName === 'addEvent'")
			ModalConfirmEvent(:name="'confirmEvent'", v-if="$store.getters.getPopupName === 'confirmEvent'")
			ModalAddObject(:name="'addObject'", v-if="$store.getters.getPopupName === 'addObject'")
			ModalAddTemplate(:name="'addTemplate'", v-if="$store.getters.getPopupName === 'addTemplate'")
			ModalAddDocument(:name="'addDocument'", v-if="$store.getters.getPopupName === 'addDocument'")
			ModalRemove(:name="'remove'", v-if="$store.getters.getPopupName === 'remove'")
			ModalUserAccess(:name="'userAccess'", v-if="$store.getters.getPopupName === 'userAccess'")
</template>

<script>
	import Site from './layout.authorized.vue'
	// modals
	import ModalAuth from '../modal/modal.auth.vue'
	import ModalAddUser from '../modal/modal.add-user.vue'
	import ModalAddCompany from '../modal/modal.add-company.vue'
	import ModalAddTemplate from '../modal/modal.add-template.vue'
	import ModalAddDocument from '../modal/modal.add-document.vue'
	import ModalAddEvent from '../modal/modal.add-event.vue'
	import ModalConfirmEvent from '../modal/modal.confirm-event.vue'
	import ModalAddObject from '../modal/modal.add-object.vue'
	import ModalRemove from '../modal/modal.remove.vue'
	import ModalUserAccess from '../modal/modal.user-access.vue'

	export default {
		data () {
			return {
				popupIsVisible: !!this.$store.getters.getPopupName
			}
		},

		beforeCreate (){
			// if (DEVELOPMENT) console.info('beforeCreate')

		},
		created (){

			this.$api.authCheck({},
				(res)=>{
					this.$store.commit('setAuth', res.data);
					this.$info.setInfo(res.data.info);
				},
				()=>{
					this.$store.commit('setAuth', {status:false});
				});

			//if (DEVELOPMENT) console.info('created')
		},

		destroyed (){
			// if (DEVELOPMENT) console.info('destroyed')
		},

		beforeMount (){
			// if (DEVELOPMENT) console.info('beforeMount')
		},
		mounted (){
			// if (DEVELOPMENT) console.info('mounted')

			// window.api = this.$api;
			// window.router = this.$router;
			// window.info = this.$info;
		},
		beforeUpdate (){
			// if (DEVELOPMENT) console.info('beforeUpdate')
		},
		updated (){
			// if (DEVELOPMENT) console.info('updated')
		},

		watch: {
			$route (to, from){
				this.$store.commit('clearPageData');
				this.$store.commit('closePopup');
				this.$store.commit('clearForm');
				if (this.$store.getters.isLoading) this.$store.commit('endLoading');
			}
		},

		components: {
			Site,
			ModalAuth,
			ModalAddUser,
			ModalAddCompany,
			ModalAddTemplate,
			ModalAddDocument,
			ModalAddEvent,
			ModalConfirmEvent,
			ModalAddObject,
			ModalRemove,
			ModalUserAccess
		},

		methods: {
			updateTitle(){
				document.title = this.$route.meta.title;
			}
		}
	}
</script>

<style lang="scss">

</style>