<template lang="pug">
	div
</template>

<script>

	import DG from '2gis-maps'
	import markercluster from 'leaflet.markercluster'
	// DG.plugin('../node_modules/leaflet-control-geocoder');
	DG.plugin(markercluster);

	export default {

		props: ['options', 'objects'],

		data() {

			return {
				d_options:{
					center: [0,0],
					zoom: 10,
					minZoom: 0,
					maxZoom: 23,
					animate: true,
					iconOptions: {},
					popupOptions: {},

					markerViewParser: (obj) => {

						/**
						 * obj = {
						 * 			coordinates: [lat, lng],
						 * 			icon: { options },
						 * 			popup: '<html>'
						 * 		}
						 *
						 */

						return obj || {}
					},

					onInit: (map) => {},
					onMarkersAdded: (map) => {},
					onClickInPopup: ()=>{}
				},
				c_options: {},
				map: null,
				storage: null,
				objectManager: null,
				initCallback: null,
				objectCollection: [],
				markers: []
			}
		},

		mounted(){
			this.optionsAssign();
			this.init();
		},

		beforeDestroy(){

		},


		watch:{
			objects(val){
				if ( val && val.length ) {
					if ( this.map ){
						this.updateObjects(val);
					} else {
						this.initCallback = ()=>{
							this.updateObjects(val);
						}
					}
				}
			}
		},


		methods: {

			optionsAssign(){
				this.c_options = Object.assign({}, this.d_options, this.options);
			},

			// public

			init(){

				if ( this.map ) return false;

				this.map = DG.map(this.$el, this.c_options);

				// this.markers = DG.featureGroup();
				this.markers = DG.markerClusterGroup({
					iconCreateFunction: function(cluster) {
						console.info(cluster);
						return DG.divIcon({ html: '<div class="map-claster">' + cluster.getChildCount() + '</div>' });
					},
					spiderLegPolylineOptions: {
						stroke: false,
						opacity: 0
					},
					animate: true
					// spiderfyOnMaxZoom: false,
					// showCoverageOnHover: false,
					// zoomToBoundsOnClick: false
				});

				if ( this.initCallback ) this.initCallback();
				if ( this.c_options.onInit ) this.c_options.onInit(this.map, DG);

				if ( this.objects && this.objects.length ) this.addObjects(this.objects);
			},


			shownObjects() {

			},

			setFilter(func) {

			},

			destroy() {
				this.map.remove();
			},

			addObjects(arr) {

				if ( !arr.length ) return false;

				for (let i = 0; i < arr.length; i++){

					let opts = this.c_options.markerViewParser(arr[i]);

					let markerOptions = Object.assign({}, this.c_options.iconOptions);

					if ( opts.icon ) markerOptions.icon = DG.divIcon(opts.icon);

					let marker = DG.marker(opts.coordinates, markerOptions);

					if ( opts.popup ) {
						marker.bindPopup(DG.popup(this.c_options.popupOptions).setLatLng(opts.coordinates).setContent(opts.popup).addTo(this.map)).closePopup();
					}

					marker.addTo(this.markers);

				}

				this.markers.addTo(this.map);

				if (arr.length > 1) this.setBounds();

				if ( typeof this.c_options.onMarkersAdded === 'function') this.c_options.onMarkersAdded(this.map)
			},

			clearObjects() {
				this.markers.removeFrom(this.map);
				// for (let i = 0; i < this.markers.length; i++){
				// 	this.markers[i].remove();
				// }
			},

			updateObjects(arr) {
				if (!this.markers.length) {
					this.addObjects(arr);
				} else {
					this.clearObjects();
					this.addObjects(arr);
				}
			},

			setCenter(coord, zoom) {
				this.map.setView(coord, zoom);
			},

			setBounds(){
				this.map.fitBounds(this.markers.getBounds());
			}
		},

		components: {

		}
	}
</script>

<style scoped lang="scss">
	div{
		height: 100%;
	}
</style>

