<template lang="pug">
	.calendar
		.calendar__list
			.calendar__head
				.calendar__head-control.calendar__head-control_prev.ion-arrow-left-b(@click="prevMonth")
				.calendar__head-control.calendar__head-control_next.ion-arrow-right-b(@click="nextMonth")
				.calendar__head-month {{ calendar.month.full }}
				.calendar__head-year #[i.ion-arrow-left-b(@click="prevYear")] {{ calendar.year }} #[i.ion-arrow-right-b(@click="nextYear")]
				.calendar__head-today: i(@click='todayMonth', v-if='active !== today.date', title="сегодня").ion-refresh
			.calendar__week
				.calendar__week-item(v-for='(week, index) in calendar.weeks.short', :key='index') {{ week }}
			.calendar__days
				.calendar__days-item(v-for='(day, index) in calendar.days', :key='index', :class="day.postfix + ' ' + ( day.date == active ? 'is-active' : '')", @click="chooseDay(day)")
					.calendar__days-item-day
						.calendar__days-item-num {{ day.num }}
						.calendar__days-item-week {{ day.week.short }}
					.calendar__days-item-info(v-if="day.events && day.events.length")
						i(v-for='(event, index) in eventIco(day.events)', :key='index', :class="event.ico", :style="'background-color: ' + (event.color || '#555')+ ';'")
		//-.calendar__result
			.calendar__result-date(v-html="activeDateText")
			.btn.btn_blue(v-if='showAddBtn', @click="showAddEventModal()")
				i.ion-compose
				span Добавить событие
			.btn.btn_blue(v-if='active !== today', @click='todayMonth', title="сегодня")
				i.ion-refresh
				span Сегодня

			.calendar__result-list(v-for='(event, index) in events', :key='index')



</template>

<script>

	import Calendar from '../../modules/module.calendar'
	import $ from 'jquery'
	let calendar;

	export default {

		props: ['events'],

		data(){

			return{
				today: {},
				todayDateText: null,
				active: null,
				activeDateText: null,
				showAddBtn: true,
				dayEvents: [],
				calendar: {
					days: [],
					weeks: {
						short: [],
						full: []
					},
					month: {
						short: '',
						full: ''
					},
					year: ''
				}
			}
		},

		created (){

		},

		mounted (){

			calendar = new Calendar({
				onInit: (cal)=>{
					this.calendar = cal;
				},
				onChange: (cal)=>{

					for (let i = 0; i < cal.days.length; i++){

						if ( cal.days[i].today ){
							this.today = cal.days[i];
							cal.days[i].postfix = 'calendar__days-item_today';
						} else if ( cal.days[i].past ) {
							cal.days[i].postfix = 'calendar__days-item_past';
						} else if ( cal.days[i].future ) {
							cal.days[i].postfix = 'calendar__days-item_future';
						} else if ( cal.days[i].prevMonth ) {
							cal.days[i].postfix = 'calendar__days-item_prev';
						} else if ( cal.days[i].nextMonth ) {
							cal.days[i].postfix = 'calendar__days-item_next';
						}

						if ( !this.active ) {
							this.activeDateText = this.todayDateText = this.getDateDescription(cal.days[i]);
							this.active = this.today.date;
						}
					}

					this.calendar = cal;
				}
			});

			calendar.todayMonth();

			//-calendar.addEvents(this.events);

			$('body')
				.on('keydown', (e)=>{

					if ( this.$store.state.popup.name ) return;

					switch(e.which) {
						case 37: // left
							this.prevMonth();
							break;

						case 38: // up
							break;

						case 39: // right
							this.nextMonth();
							break;

						case 40: // down
							break;

						default: return; // exit this handler for other keys
					}
				})
		},

		beforeDestroy(){
			$('body').off('keydown.calendar');
		},

		watch: {
			active(val){

			},

			events(val){

				calendar.addEvents(this.eventIco(val));
				if (this.active === this.today.date) this.dayEvents = this.today.events;

			}
		},

		methods: {

			eventIco(e){

				let i = 0, events = [];

				for (i; i<e.length; i++){
					events.push(e[i]);
					e[i].ico = this.$info.getEvent(e[i].type).ico + (e[i].confirm === '1' ? 'is-done' : '' );
					e[i].color = this.$info.getEvent(e[i].type).color;
				}

				return events;
			},

			getDateDescription(day){
				return `${day.num}&nbsp;${day.month.decline} (${day.week.full}) ${day.year}&nbsp;г.`
			},

			todayMonth(){
				calendar.todayMonth();
				this.active = this.today.date;
				this.activeDateText = this.todayDateText;
				// this.showAddBtn = !1;
				this.dayEvents = this.today.events;
			},

			prevMonth(){
				calendar.prevMonth();
			},

			nextMonth(){
				calendar.nextMonth();
			},

			prevYear(){
				calendar.prevYear();
			},

			nextYear(){
				calendar.nextYear();
			},

			chooseDay(day){

				if ( !day.prevMonth && !day.nextMonth ){
//					alert('ты ткнул в ' + day.date);
					this.active = day.date;
					this.activeDateText = this.getDateDescription(day);

					if ( day.past ){
						this.showAddBtn = !1;
					} else {
						this.showAddBtn = !0;
					}

					this.dayEvents = day.events;
				}

			}
		}
	}





</script>

<style lang="scss">

</style>