<template lang="pug">

	.card__item(v-if='type === "company"')
		router-link.card__item-inner(:to="{path: '/company/' + object.id}")
			.card__item-logo(v-if='object.img')
				img(:src="object.img", :alt="getLegal(object.entity_legal).short + ' «' + object.entity_fullname + '»'")
			.card__item-logo(v-else) {{object.entity_fullname.slice(0,1).toUpperCase()}}
			.card__item-label(v-if="object.ignored == '1'")
				Tooltip.c_red(:content="'Ненадежная компания'", :ico="'ion-alert-circled'")
			.card__item-info
				.card__item-subtitle(v-html="getLegal(object.entity_legal).short", :title="getLegal(object.entity_legal).full")
				.card__item-title(v-html="object.entity_fullname", :title="object.entity_fullname")

	.card__item(v-else-if='type === "user"')
		router-link.card__item-inner(:to="{path: '/staff/' + object.id}")
			.card__item-logo(v-if='object.img')
				img(:src="object.img", :alt="object.second_name + ' ' + object.first_name ")
			.card__item-logo(v-else) {{object.second_name.slice(0,1).toUpperCase()}}
			.card__item-info
				.card__item-subtitle(v-html="object.position", :title="object.position")
				.card__item-title(v-html="object.second_name + ' ' + object.first_name + ' ' + object.third_name", :title="object.second_name + ' ' + object.first_name + ' ' + object.third_name")

	.card__item(v-else-if='type === "object"')
		router-link.card__item-inner(:to="{path: '/object/' + object.id}")
			.card__item-logo(v-if='object.img')
				img(:src="object.img", :alt="object.name")
			.card__item-logo(v-else) {{object.name.slice(0,1).toUpperCase()}}
			.card__item-info
				.card__item-title(:title="object.name") {{ object.name }}
				.card__item-subtitle(:title="object.address") {{ object.address }}

	.card__item.card__item_event(v-else-if='type === "event"', :class=" object.confirm === '1' ? 'is-event-done' : '' ")
		router-link.card__item-inner(:to="{path: '/event/' + object.id}")
			.card__item-logo
				i(:class="$info.getEvent(object.type).ico")
			.card__item-label(v-if="object.confirm == '0' && object.event_past")
				Tooltip.c_red(:content="'Событие просрочено'", :ico="'ion-android-checkbox-outline'")
			.card__item-label(v-else-if="object.confirm == '1'")
				Tooltip.c_green(:content="'Событие завершено'", :ico="'ion-android-checkbox-outline'")
			.card__item-info
				.card__item-title {{parseDate(object.event_date)}} ({{weekDay(object.event_date)}})
				.card__item-subtitle #[b {{ $info.getEvent(object.type).name }}] - {{ object.description }}

	.card__item(v-else-if='type === "template"')
		router-link.card__item-inner(:to="{path: '/template/' + object.id}")
			.card__item-logo
				i(:class="$info.getDocType(object.type).ico")
			.card__item-info
				.card__item-title {{ object.name }}
				.card__item-subtitle {{ $info.getDocType(object.type).name }}<br>{{ object.description }}

	.card__item(v-else-if='type === "document"')
		router-link.card__item-inner(:to="{path: '/document/' + object.id}")
			.card__item-logo
				i(:class="$info.getDocType(object.type).ico")
			.card__item-info
				.card__item-title {{ object.document_number }}
				.card__item-subtitle {{ $info.getDocType(object.type).name }}

</template>

<script>

	import Tooltip from '../component/tooltip.vue'

	export default {
		props: ['object', 'type'],

		data(){

			return{

			}
		},

		created (){

		},

		mounted (){

		},

		watch: {

		},


		methods: {

			getLegal(val){
				let l =  {full: '',short: ''};

				if (val){
					l.full = this.$info.getLegal(val).fullName;
					l.short = this.$info.getLegal(val).shortName;
				}

				return l;
			},

			parseDate(date){
				let o = date.split('-');
				return `${o[2]}-${o[1]}-${o[0]}`
			},

			weekDay(date){
				let d = ['вс', 'пн', 'вт', 'ср', 'чт', 'пт', 'сб'];
				return d[new Date(date).getDay()];
			}
		},

		components: {
			Tooltip
		}
	}


</script>

<style lang="scss">

</style>