<template lang="pug">
	.calendar(:class="all ? 'calendar_all' : ''")
		.calendar__list
			.calendar__head
				.calendar__head-control.calendar__head-control_prev.ion-arrow-left-b(@click="prevMonth")
				.calendar__head-control.calendar__head-control_next.ion-arrow-right-b(@click="nextMonth")
				.calendar__head-month {{ calendar.month.full }}
				.calendar__head-year #[i.ion-arrow-left-b(@click="prevYear")] {{ calendar.year }} #[i.ion-arrow-right-b(@click="nextYear")]
			.calendar__week
				.calendar__week-item(v-for='(week, index) in calendar.weeks.short', :key='index') {{ week }}
			.calendar__days
				.calendar__days-item(v-for='(day, index) in calendar.days', :key='index', :class="day.postfix + ' ' + ( day.date == activeDate ? 'is-active' : '')", @click="chooseDay(day)")
					.calendar__days-item-day {{ day.num }}

</template>


<script>

	import Calendar from '../../modules/module.calendar'

	let calendar;

	export default {

		props: ['active', 'all'],

		data(){
			return{
				activeDate: '',
				today: null,
				calendar: {
					days: [],
					weeks: {
						short: [],
						full: []
					},
					month: {
						short: '',
						full: ''
					},
					year: ''
				}
			}
		},

		created (){

		},

		mounted (){

			calendar = new Calendar({
				onInit: (cal)=>{
					this.calendar = cal;
				},
				onChange: (cal)=>{

					for (let i = 0; i < cal.days.length; i++){

						if ( !this.all && cal.days[i].today ){
							this.today = cal.days[i].date;
							cal.days[i].postfix = 'calendar__days-item_today';
						} else if ( !this.all && cal.days[i].past ) {
							cal.days[i].postfix = 'calendar__days-item_past';
						} else if ( !this.all && cal.days[i].future ) {
							cal.days[i].postfix = 'calendar__days-item_future';
						} else if ( cal.days[i].prevMonth ) {
							cal.days[i].postfix = 'calendar__days-item_prev';
						} else if ( cal.days[i].nextMonth ) {
							cal.days[i].postfix = 'calendar__days-item_next';
						} else {
							cal.days[i].postfix = '';
						}

						if ( !this.active ) {
							this.activeDate = this.today;
						} else {
							this.activeDate = this.active;
						}
					}
					this.calendar = cal;
				}
			});


			if (this.active){
				calendar.setDate(this.active);
			} else {
				calendar.todayMonth();
			}


		},

		destroyed(){

		},

		watch: {
		},


		methods: {

			todayMonth(){
				calendar.todayMonth();
				this.activeDate = this.active || this.today;
			},

			prevMonth(){
				calendar.prevMonth();
			},

			nextMonth(){
				calendar.nextMonth();
			},

			prevYear(){
				calendar.prevYear();
			},

			nextYear(){
				calendar.nextYear();
			},

			chooseDay(day){
				if ( this.all || (!day.past && !day.prevMonth && !day.nextMonth )){
					this.$parent.value = day.date;
					this.$parent.showDropdown = false;
				}

				this.$emit('chooseDay');
			},

			dateCompare(t, p){
				let today = t.split("-"),
					choosen = p.split("-")
				;

				if (+today[2] > +choosen[2]){
					return !1;
				} else if (today[2] === choosen[2] && +today[1] > +choosen[1]){
					return !1;
				} else if (today[2] === choosen[2] && today[1] === choosen[1] && +today[0] > +choosen[0]){
					return !1;
				}

				return !0;

			}
		}
	}


</script>

<style lang="scss">

</style>