<template lang="pug">

	//- Submit
	.form__field(v-if='!field.hide && field.type === "submit"')
		.form__input.form__input_submit
			input.btn(type='submit', :value='field.value', autocomplete='off')
		.form__message

	//- Autocomplete
	.form__field(v-else-if='!field.hide && field.type === "autocomplete"', :class='label.toString().length ? "f-filled" : ""')
		.form__input(:class="field.multiple ? 'form__input_multiple' : '' ")
			i.form__input-ico(v-if='field.ico', :class='field.ico')
			input(@change="onChange", @blur='onBlur', @focus='showAutocomplete = !!field.items.length;', @keyup='onKeyup', type='text', :name="field.name + '-autocomplete'", autocomplete='off', :value='field.label ? field.label : ""', v-model.trim='label', :disabled="field.disabled")
			span.placeholder(v-if="field.placeholder") {{field.placeholder}}
			.is-hidden
				input(type='text', :name="field.name", :value='field.value ? field.value : ""', v-model.trim='value', :data-require='field.required ? field.required : false', :disabled="field.disabled")
			.form__autocomplete(:class='showAutocomplete ? "f-show" : ""')
				.form__autocomplete-item(v-for='(item, index) in field.items', :key='index')
					.form__autocomplete-link(@mousedown="autoCompleteMouseDown(item)", v-html="item.html || item.label")
			.form__message
		.form__chosen(v-if="field.multiple && multiple.length")
			.form__chosen-item(v-for='(item, index) in multiple', :key='index')
				.form__chosen-text(v-html="item.html")
				.form__chosen-clear.ion-close-circled(@click="multipleChosenRemove(item)")

	//- Checkbox
	.form__field(v-else-if='!field.hide && field.type === "checkbox"')
		.form__input.form__input_checkbox
			input(@change="onChange", :id="field.name", type='checkbox', :name='field.name', :data-require="field.required ? 'checkbox' : false", v-model="value", :disabled="field.disabled")
			label(:for="field.name") {{ field.placeholder }}
		.form__message

	//- Radio button
	.form__field(v-else-if='!field.hide && field.type === "radio"')
		.form__input.form__input_radio
			.radio(v-for='(item, index) in field.items', :key='index')
				input(@change='onUnerror', type='radio', :name='field.name', :value='item.value', v-model.trim='value', :id="field.name + '_' + item.value", :data-require="field.required ? 'radio' : false", :disabled="field.disabled")
				i.form__input-ico(v-if='item.ico', :class='item.ico')
				label(:for="field.name + '_' + item.value") {{item.label}}
		.form__message

	//- textarea
	.form__field(v-else-if="!field.hide && field.type === 'textarea'", :class="{ 'f-filled': value.toString().length, 'is-hidden': field.hidden }")
		.form__input.form__input_textarea
			i.form__input-ico(v-if='field.ico', :class='field.ico')
			textarea(@change="onChange", :name='field.name', :readonly='field.readonly', :value='field.value ? field.value : ""', v-model.trim="value", :data-require='field.required ? field.required : false', :disabled="field.disabled")
			span.placeholder(v-if="field.placeholder") {{field.placeholder}}
		.form__message

	//- cropper
	.form__field(v-else-if="!field.hide && field.type === 'cropper'", :class='value.toString().length ? "f-filled" : ""')
		.form__input.form__input_cropper
			.form__cropper
				.form__cropper-img(:style="value ? 'background-image:url( '+value+' );' : ''")
					i.form__input-ico(v-if='field.ico && !value', :class='field.ico')
					//img(v-else, :src='cropImage')
				.form__cropper-text {{field.placeholder}} #[i.ion-paperclip(@click="onCropFromLink")]
				.is-hidden
					input(@change='onCropper', type='file', :id="field.type + '_' + field.name", accept="image/jpeg,image/png,image/gif")
					input(type='text', :name='field.name', v-model='value', :value='field.value ? field.value : ""')
				label.form__cropper-label(:for="field.type + '_' + field.name")
		.form__message

	//- date
	.form__field(v-else-if="!field.hide && field.type === 'date'", :class='value.toString().length ? "f-filled" : ""')
		.form__input
			i.form__input-ico(v-if='field.ico', :class='field.ico')
			input(@change="onChange", @focus='onFocusCalendar', type='text', :name='field.name', :readonly='field.readonly', :value='field.value ? field.value : ""', v-model.trim='value', autocomplete='off', :data-require='field.required ? field.required : false', :disabled="field.disabled")
			span.placeholder(v-if="field.placeholder") {{field.placeholder}}
		.form__message
		.form__dropdown(v-if='showDropdown')
			date-field-calendar(:active="value", :all="field.allDates", @chooseDay="onChange()")

	//- file
	.form__field(v-else-if="!field.hide && field.type === 'file'", :class='value.name && value.name.toString().length ? "f-filled" : ""')
		.form__input
			i.form__input-ico(v-if='field.ico', :class='field.ico')
			input(@change="onChange", type="file", :name='field.name', :data-require='field.required ? field.required : false', :disabled="field.disabled", :id="field.name + '_' + _uid", :accept="field.acceptMIME ? field.acceptMIME : ''")
			label(:for="field.name + '_' + _uid") {{ value.name }}
			span.placeholder(v-if="field.placeholder") {{field.placeholder}}
		.form__message

	//- other inputs (text, search, email...)
	.form__field(v-else-if="!field.hide", :class="{ 'f-filled': value.toString().length, 'is-hidden': field.hidden }")
		.form__input
			i.form__input-ico(v-if='field.ico', :class='field.ico')
			input(@change="onChange", :type='field.type', :name='field.name', :readonly='field.readonly', :value='field.value ? field.value : ""', v-model.trim='value', autocomplete='off', :data-require='field.required ? field.required : false', :disabled="field.disabled")
			span.placeholder(v-if="field.placeholder") {{field.placeholder}}
		.form__message

</template>

<script>

	import DateFieldCalendar from '../component/date-field-calendar.vue'
	import $ from 'jquery'
	import _ from 'lodash'
	import Popup from '../../modules/module.popup'
	import Inputmask from 'inputmask'
	import Cropper from 'cropperjs'

	let popup = new Popup({
		bodyClass: 'is-modal',
		autoCloseOtherPopups: false
	});

	export default {
		props: ['field'],

		data(){

			return{

				showDropdown: false,
				hasError: true,
				value: '',
				label: '',
				lastLabel: '',
				cropImage: false,
				multiple: [],
				showAutocomplete: false
			}
		},


		beforeDestroy (){
			if (this.field.name) this.$store.commit('clearFormData', this.field.name);

		},

		created (){

			if ( !this.field.local &&  !!this.field.name ) this.$store.commit('setFormData', {[this.field.name]: ( this.$store.state.pageData && this.$store.state.pageData.data && this.$store.state.pageData.data[this.field.name] ? this.$store.state.pageData.data[this.field.name] : '')});
			if ( !!this.$store.state.form.data[this.field.name] || this.$store.state.form.data[this.field.name] === false  || this.field.multipleObject ) this.updateData();
		},


		mounted (){

			if ( this.field.hide ) return;

			if ( this.field.mask ){
				let inputmask = new Inputmask({
					mask: this.field.mask,
					showMaskOnHover: false,
					onincomplete: function() {
						this.value = '';
						setTimeout(()=>{
							if (!this.value.toString()) $(this).closest('.form__field').removeClass('f-filled');
						}, 0);

					}
				});

				console.info(this.field);
				inputmask.mask(this.$el.querySelectorAll('input')[0]);
			}


			if ( !this.$store.state.form.data[this.field.name] && this.field.value && this.field.type !== 'submit' ) {
				this.value = this.field.value;
			} else if ( this.$store.state.form.data[this.field.name] ){
				let val = this.$store.state.form.data[this.field.name];

				if ( this.field.type === 'checkbox' ) {
					val = this.field.value || this.$store.state.form.data[this.field.name] === '1';
				}
				if ( this.field.type === 'date' ) {
					if ( val === '0000-00-00'){
						val = '';
					} else {
						let o = val.split('-');
						val = `${o[2]}-${o[1]}-${o[0]}`
					}
				}

				this.value = val;
			}

			if ( this.field.items && this.field.items.length ) {
				_.map(this.field.items, (item)=>{
					if (item.checked){
						this.value = item.value;
						this.label = this.lastLabel = item.label;
					}
				});
			}


			if ( this.field.searchBy ){
				$(this.$el).find('[name=' + this.field.name + '-autocomplete]').on('keyup', _.debounce((e)=>{

					this.field.items = [];

					if ( e.target.value.length < 1 ) return false;

					if ( this.field.searchBy === 'company' ){
						this.$api.searchCompany({
								search: e.target.value
							},
							(res)=>{
								if ( res.data.status ) {
//									this.$data.agents = res.data.data;
									for(let i = 0; i < res.data.data.length; i++){
										this.field.items.push(this.parseAutocompleteData(res.data.data[i]));
									}
									if ( res.data.data.length ) this.showAutocomplete = true;

								} else {

								}
							},
							(err)=>{
								console.error(err);
							},
							()=>{

							}
						);
					} else if ( this.field.searchBy === 'user' ){
						this.$api.searchUser({
								search: e.target.value
							},
							(res)=>{
								if ( res.data.status ) {
//									this.$data.agents = res.data.data;
									for(let i = 0; i < res.data.data.length; i++){
										this.field.items.push(this.parseAutocompleteData(res.data.data[i]));
									}
									if ( res.data.data.length ) this.showAutocomplete = true;
								} else {

								}
							},
							(err)=>{
								console.error(err);
							},
							()=>{

							}
						);
					} else if ( this.field.searchBy === 'template' ){
						this.$api.searchTemplate({
								search: e.target.value
							},
							(res)=>{
								if ( res.data.status ) {
//									this.$data.agents = res.data.data;
									for(let i = 0; i < res.data.data.length; i++){
										this.field.items.push(this.parseAutocompleteData(res.data.data[i]));
									}
									if ( res.data.data.length ) this.showAutocomplete = true;
								} else {

								}
							},
							(err)=>{
								console.error(err);
							},
							()=>{

							}
						);
					}

				}, 500));
			}

			$('body')
				.on('mousedown.showdropdown focus.showdropdown', e=>{
					if ( this.showDropdown && !$(e.target).closest('.form__field').length ){
						this.showDropdown = false;
					}
				})
				.on('focus.showdropdown', 'input, textarea', e=>{
					if ( this.showDropdown ){
						this.showDropdown = false;
					}
				});

			if ( this.field.onInit && typeof this.field.onInit === 'function') this.field.onInit(this.value);
		},


		beforeDestroy(){
			if ( this.field.hide ) return;
			$('body')
				.off('mousedown.showdropdown')
				.off('focus.showdropdown', 'input, textarea');
			$(this.$el).find('[name=' + this.field.name + '-autocomplete]').off('keyup')
		},


		destroyed(){
		},


		watch: {

			value: function(val){

				//-console.info(val);

				if (this.field.type === 'date'){
					if ( val === '0000-00-00'){
						val = '';
						this.value = val;
					} else {
						let o = val.split('-');
						val = `${o[2]}-${o[1]}-${o[0]}`
					}
				} else if (this.field.type === 'checkbox'){
					val = !!val ? '1' : '0';
				} else {
					if ( Array.isArray(val) && !val.length ) val = '';
				}

				if ( !this.field.local && !!this.field.name ) this.$store.commit('setFormData', {[this.field.name]: val});

			}
		},

		methods: {

			onChange(e){
				if ( this.field.type === 'file'){
					let data = this.getFile(e);
				}

				if ( this.field.onChange && typeof this.field.onChange === 'function') {
					setTimeout(()=>{this.field.onChange(this.value);}, 0);
				}
			},

			parseAutocompleteData(obj){
				let item = {};

				//if (DEVELOPMENT) console.info( this.field.searchBy, obj);

				if ( this.field.searchBy === 'user' ){
					item = {
						value: obj.id,
						html: `<b>${obj.second_name || ''} ${obj.first_name || ''} ${obj.third_name || ''}</b> ${obj.position ? '(' + obj.position + ')': ''}`,
						label: `${obj.second_name || ''} ${obj.first_name || ''} ${obj.third_name || ''} ${obj.position ? '(' + obj.position + ')': ''}`
					}
				} else if (this.field.searchBy === 'company' ) {
					item = {
						value: obj.id,
						html: `${obj.entity_legal ? this.$info.getLegal(obj.entity_legal).shortName : ''} ${obj.entity_fullname}`,
						label: `${obj.entity_legal ? this.$info.getLegal(obj.entity_legal).shortName : ''} ${obj.entity_fullname}`
					}
				} else if (this.field.searchBy === 'template' ) {
					item = {
						value: obj.id,
						html: `${obj.name} (${this.$info.getDocType(obj.type).name})`,
						label: `${obj.name} (${this.$info.getDocType(obj.type).name})`
					}
				}

				return item;
			},

			updateData(){

				let val = this.$store.state.form.data[this.field.name];

				if (this.field.type === 'date'){
					let o = val.split('-');
					val = `${o[2]}-${o[1]}-${o[0]}`
				}

				this.value = val;

				if ( this.field.type === 'autocomplete' ){
					if ( this.field.items.length ){
						for (let i = 0; i < this.field.items.length; i++){
							if ( this.value === this.field.items[i].value ){
								this.label = this.lastLabel = this.field.items[i].label;
								break;
							}
						}
					} else if ( this.field.searchBy && this.$store.state.pageData && this.$store.state.pageData.extra && this.$store.state.pageData.extra[this.field.name] || this.field.multipleObject ){
						let obj = this.field.multipleObject || this.$store.state.pageData.extra[this.field.name];

						if ( this.field.multiple ){
							if ( this.field.multipleObject ) {
								this.value = [];
								for (let i = 0; i < this.field.multipleObject.length; i++ ){
									this.value.push(this.field.multipleObject[i].id)
								}
							}
							for (let i = 0; i < obj.length; i++){
								let item = this.parseAutocompleteData(obj[i]);
								this.multiple.push(item);
							}
						} else {
							if ( this.field.searchBy === 'user' ){
								this.label = this.lastLabel = `${obj.second_name || ''} ${obj.first_name || ''} ${obj.third_name} ${obj.position ? '(' + obj.position + ')' : '' }`;
							} else if ( this.field.searchBy === 'company' ){
								this.label = this.lastLabel = `${obj.entity_legal ? this.$info.getLegal(obj.entity_legal).shortName : ''} ${obj.entity_fullname}`;
							} else if ( this.field.searchBy === 'template' ){
								this.label = this.lastLabel = `${obj.name} (${this.$info.getDocType(obj.type).name})`;
							}
						}
					}
				}
			},

			getFile(e){
				//if (DEVELOPMENT) console.info(e, e.target, e.target.files);

				let file = e.target.files[0];

				if (file){
					if ( this.field.files && !(new RegExp(this.field.files.join('|'), 'gi').test(file.name))) return false;
					this.value = file;
				} else {
					return false;
				}
			},

			autoCompleteMouseDown(item){
				if ( this.field.multiple ){
					if ( _.find(this.multiple, i=> i.value === item.value) === undefined) {
						this.multiple.push(item);
						this.showAutocomplete = false;
						let val = [];

						_.forEach(this.multiple, (i)=>{
							val.push(i.value);
						});

						this.value = val;
					}
					//this.field.items = [];
				} else {
					this.value = item.value;
					this.label = this.lastLabel = item.label;
					this.showAutocomplete = false;
				}

			},

			multipleChosenRemove(item){
				let ind = _.findIndex(this.multiple, i => i.value === item.value);
				this.multiple.splice(ind, 1);

				let val = [];

				_.forEach(this.multiple, (i)=>{
					val.push(i.value);
				});

				this.value = val;
			},

			onCropFromLink(){
				let img = new Image(),
					err = false,
					src = prompt('Укажите ссылку', '');

				if ( src ) {
					img.src = src;

					img.onerror = (e)=>{
						err = true;
					};

					img.onload = (e)=>{
						setTimeout(()=>{
							if (!err) this.cropSrc(src);
						}, 50);
					};
				}
			},

			onCropper(e){
				let file = e.target.files[0],
					reader
				;

				if ( file && !/\.(jpg|jpeg|png|gif)$/i.test( file.name ) ) {
					alert('не верный тип файла');
				} else if ( file.size > 8000000 ) {
					alert('слишком большой размер файла');
				} else if (this && window.File && window.FileReader && window.FileList && window.Blob) {

					reader = new FileReader();

					reader.onload = ()=>{
						this.cropSrc(reader.result);
						e.target.value = '';
					};

					reader.readAsDataURL(file);
				}

				this.onChange();

			},

			cropSrc(src){
				let html = '<div class="popup__cropper"><img src="'+ src +'"><div class="popup__cropper-confirm"><span class="btn"><span>Применить</span></div></div>';

				popup.create('.popup_cropper', html, (pop)=>{

					popup.open(pop);

					let image = pop.getElementsByTagName('img')[0],
						cropper = new Cropper(image, {
							aspectRatio: 1,
							//checkCrossOrigin: false,
							guides: false,
							zoomable: false,
							background: false,
							center: false,
							viewMode: 1,
							toggleDragModeOnDblclick: false,
							crop: (e)=>{},
							cropend(e){}
						});

					$(pop).find('.popup__close').on('click', ()=>{
						popup.close(pop, ()=>{popup.remove(pop)});
					});

					$(pop).find('.btn').on('click', ()=>{

						this.value = cropper.getCroppedCanvas({
							fillColor: '#fff',
							width: 300,
							height: 300,
							imageSmoothingEnabled: false,
							imageSmoothingQuality: 'high'
						}).toDataURL();

						if ( !this.field.local && !!this.field.name) this.$store.commit('setFormData', {[this.field.name]: this.value});

						popup.close(pop, ()=>{popup.remove(pop)});
					});

				});
			},

			onUnerror(e){
				// validate
				$(e.target).closest('.form__field').removeClass('f-error');

				this.onChange();
			},

			onBlur(){
				this.showAutocomplete = false;
				this.label = this.lastLabel;
			},

			onKeyup(e){
				//this.showAutocomplete = !!this.field.items.length;
				this.showAutocomplete = true;



				//if (  )
				if (DEVELOPMENT) console.info(this.label);
			},

			onFocusCalendar(){
				this.showDropdown = true;
			},
		},

		components: {
			DateFieldCalendar
		}
	}


</script>

<style lang="scss">

</style>