<template lang="pug">
	div
</template>

<script>

	import MAP from 'leaflet'

	export default {

		props: ['options', 'objects'],

		data() {

			return {
				d_options:{
					center: [0,0],
					zoom: 10,
					minZoom: 0,
					// maxZoom: 23,
					animate: true,

					objectCollectionParser: (obj) => {
						return {
							geometry: {
								coordinates: obj.geometry.coordinates
							}
						}
					},

					onInit: (map) => {
					},
					onBoundsChange: (map) => {
					}
				},
				c_options: {},
				map: null,
				storage: null,
				objectManager: null,
				initCallback: null,
				objectCollection: [],
				markers: []
			}
		},

		mounted(){
			this.optionsAssign();
			this.init();
		},

		beforeDestroy(){

		},


		watch:{
			objects(val){
				if ( val && val.length ) {
					if ( this.map ){
						this.updateObjects(val);
					} else {
						this.initCallback = ()=>{
							this.updateObjects(val);
						}
					}
				}
			}
		},


		methods: {

			optionsAssign(){
				this.c_options = Object.assign({}, this.d_options, this.options);
			},

			// public

			init(){

				if ( this.map ) return false;

				this.map = MAP.map(this.$el, this.c_options);

				if ( this.initCallback ) this.initCallback();
				if ( this.c_options.onInit ) this.c_options.onInit(this, MAP);

				if ( this.objects && this.objects.length ) this.addObjects(this.objects);
			},

			shownObjects() {

			},

			setFilter(func) {

			},

			destroy() {
				this.map.remove();
			},

			addObjects(arr) {
				console.info(arr);

				for (let i = 0; i < arr.length; i++){
					MAP.marker(arr[i].geometry.coordinates, {
						icon: MAP.divIcon({
							iconSize: [70, 20],
							html: `<b style="color:blue;">${arr[i].properties.objectName}</b>`
						})
					}).addTo(this.map);
				}
			},

			clearObjects() {
				for (let i = 0; i < this.markers.length; i++){
					this.markers[i].remove();
				}
			},

			updateObjects(arr) {
				if (!this.markers.length) {
					this.addObjects(arr);
				} else {
					this.clearObjects();
					this.addObjects(arr);
				}
			},

			setCenter(coord, zoom) {
				this.map.panTo(coord, zoom)
			}
		},

		components: {

		}
	}
</script>

<style scoped lang="scss">
	div{
		height: 100%;
	}
</style>

