<template lang="pug">
	nav.nav
		.nav__head
			.nav__head-logo
				img(v-if="$store.state.auth.user && $store.state.auth.user.img", :src='$store.state.auth.user.img')
			.nav__head-text(v-if="$store.state.auth.user") {{ $store.state.auth.user.first_name + ' ' + $store.state.auth.user.second_name }}
			.nav__head-text(v-else) Maestros CRM
		.nav__main
			.nav__item
				router-link(to='/').nav__link
					i.nav__ico.ion-earth
					span
						| Главная
						.nav-info(v-if="$store.state.overdueEvents.length > 0 && $store.state.auth.rank > 0")
							Tooltip.c_red(:content="'У Вас ' + $store.state.overdueEvents.length + ' ' + $store.state.overdueEvents.length.declension('пропущенное событие', 'пропущенных события', 'пропущенных событий')")
							| {{ $store.state.overdueEvents.length }}
			.nav__item
				router-link(to='/company').nav__link
					i.nav__ico.ion-briefcase
					span Компании
			.nav__item
				router-link(to='/objects').nav__link
					i.nav__ico.ion-ios-location
					span Объекты
			.nav__item
				router-link(to='/staff').nav__link
					i.nav__ico.ion-person-stalker
					span Персонал
			.nav__item
				router-link(to='/diary').nav__link
					i.nav__ico.ion-calendar
					span Календарь
			.nav__item(v-if="$store.state.auth.rank === '0'")
				router-link(to='/templates').nav__link
					i.nav__ico.ion-document-text
					span Шаблоны
			.nav__item(v-if="$store.state.auth.rank === '1'")
				router-link(to='/documents').nav__link
					i.nav__ico.ion-document-text
					span Документы
			.nav__item
				router-link(to='/settings').nav__link
					i.nav__ico.ion-gear-b
					span Настройки
			.nav__item
				router-link(to='/info').nav__link
					i.nav__ico.ion-information-circled
					span Информация
		.nav__footer
			.nav__item
				a(href='/', @click.prevent='logOut').nav__link
					i.nav__ico.ion-log-out
					span Выйти

</template>

<script>

	import Styck from '../../modules/module.styck-nav'
	import Tooltip from './tooltip.vue'
	let styck = new Styck({element: '.app__aside'});


	export default {
		data () {

			return {}
		},

		mounted: ()=>{
			styck.init();
		},

		methods: {
			logOut(e){

				this.$api.logOut({},()=>{},()=>{},
					()=>{
						this.$router.push('/');
						this.$store.commit('setAuth', {status: false});
					});

			},

		},

		components: {
			Tooltip
		}
	}
</script>

<style lang="scss">

</style>