<template lang="pug">
	.tooltip(@click.stop.prevent="", @mouseover="onMouseOver", @mouseleave="onMouseLeave", :class="cls")
		.tooltip__content: span(v-html="content")
		.tooltip__ico(v-if="copy", :class="ico", v-clipboard:copy="ico")
		.tooltip__ico(v-else, :class="ico")

</template>


<script>

	import $ from 'jquery'

	export default {
		props: ['content', 'ico', 'copy'],

		data(){

			return{
				cls: '',
			}
		},

		created (){

		},

		mounted (){

		},

		watch: {

		},


		methods: {
			onMouseOver(e){
				this.cls = 'is-hover' + this.getPos(e);
			},
			onMouseLeave(){
				this.cls = '';
			},
			getPos(e){
				let c = '';

				if ( window.innerWidth - e.clientX < 80 ) c += ' is-to-left';
				if ( e.y < 100 ) c += ' is-to-bottom';

				return c;
			}
		}
	}


</script>

<style lang="scss">

</style>