<template lang="pug">
	div
</template>

<script>
	import scriptLoader from '../../modules/module.script-loader'

	export default {

		props: ['options', 'objects'],

		data() {

			return {
				d_options:{
					center: [0,0],
					native: true,
					removeObjectsOnBoundsChange: false,
					duration: 0,
					zoom: 10,
					controls: ['default'],	// ['default', 'fullscreenControl', 'geolocationControl', 'routeEditor', 'rulerControl', 'searchControl', 'trafficControl', 'typeSelector', 'zoomControl']  https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/control.Manager-docpage/#add-param-control
					behaviors: ['default'],	// ['default','drag','scrollZoom','dblClickZoom','multiTouch','rightMouseButtonMagnifier','leftMouseButtonMagnifier','ruler','routeEditor'] https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/map.behavior.Manager-docpage/#param-behaviors
					minZoom: 0,
					maxZoom: 23,
					objectManagerOptions: {	//https://tech.yandex.ru/maps/doc/jsapi/2.1-dev/ref/reference/ObjectManager-docpage/#add-param-objects
						clusterize: true,
						gridSize: 128,
						viewportMargin: 0
					},

					objectCollectionParser: (obj) => {
						return {
							geometry: {
								coordinates: obj.geometry.coordinates
							}
						}
					},

					onInit: (map) => {
					},
					onBoundsChange: (map) => {
					}
				},
				c_options: {},
				api: 'https://api-maps.yandex.ru/2.1/?lang=ru_RU',
				map: null,
				storage: null,
				objectManager: null,
				objectCollection: [],

				initCallback: null
			}
		},

		mounted(){

			this.optionsAssign();

			scriptLoader.load(this.api, ()=>{
				ymaps.ready(() => {
					this.init();
					if ( this.initCallback ) this.initCallback();
				});
			});
		},

		beforeDestroy(){

		},


		watch:{
			objects(val){
				if ( val && val.length ) {
					if ( this.map ){
						this.updateObjects(val);
					} else {
						this.initCallback = ()=>{
							this.updateObjects(val);
						}
					}
				}
			}
		},


		methods: {

			optionsAssign(){
				this.c_options = Object.assign({}, this.d_options, this.options);
			},

			// public

			init(){

				if ( this.map ) return false;

				this.map = new ymaps.Map(this.$el, {
					center: this.c_options.center,
					zoom: this.c_options.zoom,
					controls: this.c_options.controls,
					behaviors: this.c_options.behaviors,
				}, {
					autoFitToViewport: 'always',
					minZoom: this.c_options.minZoom,
					maxZoom: this.c_options.maxZoom
				});

				this.objectManager = new ymaps.ObjectManager(this.c_options.objectManagerOptions);

				this.map.geoObjects.add(this.objectManager);

				this.options.onInit(this);

				this.map.events.add('boundschange', () => {
					if (!this.c_options.native) {
						this.clearObjects();
						this.objectManager.add(this.shownObjects());
					}
					this.c_options.onBoundsChange(this);
				});

				if ( this.objects && this.objects.length )  this.addObjects(this.objects);
			},

			shownObjects() {

				let objShown = [],
					i = 0,
					screenCoord = this.map.getBounds();

				for (i; i < this.objectCollection.length; i++) {
					let objCoord = this.objectCollection[i].geometry.coordinates,
						filter = (this.objectFilter && typeof this.objectFilter === 'function') ? this.objectFilter(this.objectCollection[i]) : true;

					if (
						objCoord[0] >= screenCoord[0][0] &&
						objCoord[0] <= screenCoord[1][0] &&
						objCoord[1] >= screenCoord[0][1] &&
						objCoord[1] <= screenCoord[1][1] &&
						filter
					) {
						objShown.push(this.objectCollection[i]);
					}
				}

				return objShown;
			},

			setFilter(func) {
				this.objectFilter = func || null;

				if (this.c_options.native) {
					this.objectManager.setFilter(this.objectFilter);
				} else {
					this.clearObjects();
					this.objectManager.add(this.shownObjects());
				}
			},

			destroy() {
				if (this.map) {
					this.clearObjects();
					this.map.destroy();
					this.map = null;
					this.objectManager = null;
				}
			},

			addObjects(arr) {

				if (this.objectCollection.length) {
					console.warn('to add new objects use updateObjects(arr) method');
					return false;
				}

				if (!arr || !(arr && arr.length)) {
					console.warn('No objects to adding');
					this.clearObjects();
					return false;
				}

				this.objectCollection = [];

				for (let i = 0; i < arr.length; i++) {

					let object = this.c_options.objectCollectionParser(arr[i]);
					object.type = 'Feature';
					object.id = object.id || i;
					object.geometry.type = 'Point';

					this.objectCollection.push(object);
				}

				if (this.c_options.native) {
					this.objectManager.add(this.objectCollection);
				} else {
					this.objectManager.add(this.shownObjects());
				}

				if ( arr.length > 1 ) {
					this.map.setBounds(this.map.geoObjects.getBounds());
				} else {
					this.map.setCenter(arr[0].geometry.coordinates);
				}
			},

			clearObjects() {
				if (this.objectManager) {
					this.objectManager.objects.removeAll();
					this.objectCollection = [];
				}
			},

			updateObjects(arr) {

				if (!this.objectCollection.length) {
					this.addObjects(arr);
				} else {
					this.clearObjects();
					this.addObjects(arr);
				}
			},

			setCenter(coord, zoom) {

				let opts = {},
					z = zoom || this.map.getZoom();

				opts.duration = this.c_options.duration;

				if (coord.length && Array.isArray(coord[1])) {
					this.map.setBounds(coord, opts);
				} else if (Array.isArray(coord)) {
					this.map.setCenter(coord, z, opts);
				}
			}
		},

		components: {

		}
	}
</script>

<style scoped lang="scss">
	div{
		height: 100%;
	}
</style>

