/* === Open Sans - regular */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url("/font/opensans/OpenSans-Regular.eot");
	src: local("Open Sans Regular"),
	local("OpenSans-Regular"),
	url("/fonts/opensans/OpenSans-Regular.eot") format("embedded-opentype"),
	url("/fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
	url("/fonts/opensans/OpenSans-Regular.woff") format("woff"),
	url("/fonts/opensans/OpenSans-Regular.ttf") format("truetype"),
	url("/fonts/opensans/OpenSans-Regular.svg") format("svg");
}

/* === Vollkorn - regular */
@font-face {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	src: url("/font/volkorn/Vollkorn-Regular.eot");
	src: local("Vollkorn Regular"),
	local("Vollkorn-Regular"),
	url("/fonts/volkorn/Vollkorn-Regular.eot") format("embedded-opentype"),
	url("/fonts/volkorn/Vollkorn-Regular.woff2") format("woff2"),
	url("/fonts/volkorn/Vollkorn-Regular.woff") format("woff"),
	url("/fonts/volkorn/Vollkorn-Regular.ttf") format("truetype"),
	url("/fonts/volkorn/Vollkorn-Regular.svg") format("svg");
}
