
$inputHeight: 46px;

.placeholder{
	position: absolute;
	color: currentColor;
	top: 0;
	right: 100%;
	left: 0;
	text-align: right;
	line-height: $inputHeight;
	cursor: default;
	pointer-events: none;
	padding: 0 10px 0 18px;
	white-space: nowrap;
	@include box-sizing();
	@include transition(all 0.3s ease);
	opacity: 0.5;

	.f-error &{

	}


	.f-filled &{
		right: 0;
		font-size: 12px;
		line-height: 20px;
	}
}


.form{
	font-size: 0;

	& > *{

		font-size: 14px;
	}

	.form__field{
		margin-bottom: 25px;
	}

	&__title{
		font-size: 20px;
		font-family: $fontTitle;
		margin-bottom: 25px;
	}

	&__description{
		background: rgba(0,0,0,0.35);
		font-size: 12px;
		color: #ccc;
		line-height: 1.2;
		padding: 15px 18px;
		margin-bottom: 25px;
		@include borderRadius();
		white-space: pre-line;
	}


	&__field{
		position: relative;

		&.f-error{

			input{
				&[type="email"],
				&[type="search"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					@include box-shadow(inset 0 -2px 0 $colorRed!important);
				}

				&[type="file"] ~ label{
					@include box-shadow(inset 0 -2px 0 $colorRed!important);
				}
			}
		}

		textarea,
		input,
		input[type="file"] ~ label
		{

			@include box-sizing();
			width: 100%;
			display: block;
			line-height: $inputHeight - 2px;
			height: $inputHeight;
			@include borderRadius();
			padding: 0 18px;
			@include transition(all 0.15s ease);
			border: 1px solid transparent;
			color: #fff;
			background: rgba(#fff, 0.15);
			@include box-shadow(inset 0 0 0 rgba(0, 0, 0, 0));
			font-size: 14px;



			&.f-loading{
				background-image: url("/img/bars.svg");
				background-size: 20px;
				background-position: bottom 12px right 15px;
				background-repeat: no-repeat;
			}


			&:hover{

			}

			&:disabled{
				opacity: 0.5;
				cursor: no-drop;
			}

			//&[type="email"],
			//&[type="search"],
			//&[type="password"],
			//&[type="tel"],
			//&[type="text"]
			//{
			//
			//}

			&:focus{

				@include box-shadow(inset 0 -2px 0 $colorBlue);

				& ~ .placeholder{
					right: 0;
					font-size: 12px;
					line-height: 20px;
				}
			}

			&:disabled{

			}



			&[type="checkbox"]{
				opacity: 0;
				position: absolute;
				width: 1px;
				height: 1px;


				& ~ label{
					display: block;
					padding: 0 0 0 45px;
					cursor: pointer;

					&:before{
						content: '';
						@include box-sizing();
						background: rgba(#fff, 0.15);
						width: 30px;
						display: block;
						height: 30px;
						position: absolute;
						top: -2px;
						left: 0;
						@include borderRadius();

						.f-error &{
							@include box-shadow(inset 0 -2px 0 $colorRed);
						}
					}
				}

				&:checked ~ label{

					&:before{
						background-image: url("/img/cb.svg");
						background-size: contain;
					}
				}
			}


			&[type="submit"]{
				cursor: pointer;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				border-color: transparent!important;
				@include box-shadow(0 1px 2px rgba(0,0,0,.5)!important);
				//background-color: $colorBlue;

				&.f-loading{
					background-image: url("/img/bars.svg");
					background-size: 30px;
					color: transparent;
				}

				&:hover{
				}

				&:active{
					@include box-shadow(0 0px 1px rgba(0,0,0,.35)!important);
				}
			}

			&[type="file"]{
				opacity: 0;
				pointer-events: none;
				position: absolute;
			}
		}

		textarea{

			line-height: 1.2;
			padding: 15px 18px;
			height: 180px;

			.f-error &{

			}

			&:hover{

			}

			&:disabled{

			}
		}
	}


	&__message{
		display: none;
		text-align: center;
		//top: 3px;
		//position: relative;
		font-size: 12px;
		position: absolute;
		bottom: 3px;
		right: 10px;
		pointer-events: none;

		.f-message &{
			display: block;
		}

		.f-error &{
			color: $colorRed;
			display: block;
		}
	}


	&__label{
		padding-bottom: 10px;

		&-hint{
			opacity: 0.6;
		}

		&-note{
			float: right;
			font-style: italic;
			font-size: 12px;
			opacity: 0.6;
		}
	}


	&__input{
		position: relative;


		&-ico{
			position: absolute;
			top: 9px;
			width: 30px;
			height: 30px;
			display: block;
			left: 8px;
			pointer-events: none;
			line-height: 30px;
			text-align: center;
			font-size: 18px;

			& ~ textarea,
			& ~ input,
			& ~ input[type="file"] ~ label{
				padding-left: 45px!important;
			}

			& ~ .placeholder{
				padding-left: 45px!important;
			}

		}

		&_checkbox{
			padding: 5px 0;

			.f-error &{


				label{
					&:before{
						@include box-shadow(inset 0 -2px 0 $colorRed);
					}
				}
			}
		}

		&_text{
			padding: 5px 0;
		}

		&_radio{
			.radio{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				margin-right: 20px;

				input{
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					opacity: 0;
					height: 1px;

					&:checked{
						& ~ {
							label{
								&:before{
									border-width: 3px;
								}
							}
						}
					}
				}

				.form__input-ico{
					//position: relative;
					top: -2px;
					left: 0;
					display: inline-block;
					vertical-align: middle;
					z-index: 1;
				}

				label{
					display: inline-block;
					vertical-align: middle;
					position: relative;
					padding: 5px 0 5px 40px;
					cursor: pointer;

					&:before{
						content: '';
						display: inline-block;
						vertical-align: middle;
						position: absolute;
						width: 30px;
						height: 30px;
						@include border-radius(50%);
						background: rgba(#fff, 0.15);
						top: -2px;
						left: 0;
						@include transition();
						@include box-sizing();
						border: 0 solid #fff;


						.f-error &{
							@include box-shadow(inset 0 -2px 0 $colorRed);
						}
					}

				}
			}

			& ~ .form__message{
				bottom: -10px;
			}
		}

		&_select{

			.select2{
				width: 100%;
			}
		}



		&_multiple{
			input{
				background: transparent;
				@include box-shadow(inset 0 -2px 0 rgba(#fff, 0.15));
				padding: 0;
				line-height: 30px;
				height: 30px;
				@include border-radius(0);

				& ~ .placeholder{
					position: absolute;
					padding: 0;
					line-height: 30px;
				}
			}
		}
	}


	&__cropper{
		position: relative;

		&-img{
			width: 150px;
			height: 150px;
			@include border-radius(50%);
			background: rgba(#fff, 0.15) no-repeat 50% 50%;
			background-size: cover;
			margin: 0 auto $padding;
			position: relative;
			@include box-shadow('inset');
			overflow: hidden;


			img{
				width: 100%;
				height: 100%;
				display: block;
			}

			.form__input-ico{
				font-size: 80px;
				height: 150px;
				width: 150px;
				line-height: 150px;
				top: 0;
				left: 0;
			}
		}

		&-text{
			text-align: center;

			i{
				display: inline-block;
				font-size: 20px;
				vertical-align: middle;
				margin-left: 10px;
				cursor: pointer;
			}
		}

		label{
			position: absolute;
			top: 0;
			margin: auto;
			height: 150px;
			width: 150px;
			left:0;
			right:0;
			cursor: pointer;
			@include border-radius(50%);
		}
	}



	&__autocomplete{
		position: absolute;
		left: 0;
		right: 0;
		max-height: 200px;
		overflow: auto;
		@include box-shadow();
		@include user-select();
		background: #fff;
		@include borderRadius;
		z-index: 10;
		display: none;

		&.f-show{
			display: block;
		}

		&-item{
			margin: 0 10px;
			border-bottom: 1px solid $colorGrey;

			&:last-child{
				border-bottom: 0;
			}
		}

		&-link{
			padding: 10px;
			margin: 0 -10px;
			cursor: pointer;
			color: $colorBlack;

			&:hover{
				background-color: $colorGrey;
			}
		}
	}


	&__chosen{

		&-item{
			position: relative;
			margin: 10px 0;
			@include box-sizing();
			width: 100%;
			display: block;
			line-height: $inputHeight - 2px;
			height: $inputHeight;
			@include borderRadius();
			background: rgba(#fff, 0.15);
			padding: 0 40px 0 18px;
			@include transition(all 0.15s ease);
			border: 1px solid transparent;
			color: #fff;
			@include box-shadow(inset 0 0 0 rgba(0, 0, 0, 0));
		}

		&-text{
			position: relative;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&-clear{
			display: block;
			position: absolute;
			top: 0;
			right: 10px;
			font-size: 18px;
			cursor: pointer;

			&:hover{
				color: $colorRed;
			}
		}
	}


	&__dropdown{
		position: absolute;
		z-index: 2;
	}


	&__tag{
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 10px 0;
		font-size: 14px;
		color: #fff;
		background: rgba(#fff, 0.15);
		@include box-shadow(inset 0 0 0 rgba(0, 0, 0, 0));

		@include borderRadius();
		padding: 5px 30px 5px 10px;
		@include transition(all 0.15s ease);
		position: relative;

		&-delete{
			cursor: pointer;
			position: absolute;
			top: 5px;
			right: 10px;
		}
		&-text{

		}
	}
}








