html {

}

body {
	font-family: sans-serif;
	font-size: 14px;
	width: 100%;
	line-height: 1.2;
	color: $colorBlack;
	background: $colorWrapper;

	&.is-popup{
		overflow: hidden;
	}
}

a {
	color: $colorLink;

	&:hover{
		color: $colorLinkHover;
	}
}


.btn{
	padding: 5px 30px;
	border-radius: 7px;
	height: auto;
	line-height: 1;
	color: #fff;
	font-size: 0;
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
	@include user-select();
	@include box-sizing();
	@include borderRadius();
	text-align: center;
	@include transition(all 0.15s ease);
	@include box-shadow();
	background-color: $colorGradIn;

	span{
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
	}

	i{
		margin: -4px 5px -4px -10px;
		font-size: 18px;
		vertical-align: middle;
	}

	&_red{
		background-color: $colorRed!important;
	}

	&_blue{
		background-color: $colorBlue!important;
	}

	&_green{
		background-color: $colorGreen!important;
	}

	&_orange{
		background-color: $colorOrange!important;
	}

	&_ico{
		padding: 5px;
		min-width: 30px;
		margin-right: 5px;

		i[class^='ion']{
			position: relative;
			margin: 0;
			padding: 0;
			font-size: inherit;
		}
	}

	&:active{
		@include box-shadow('hover');
		@include box-shadow(none);
		@include transform(translateY(1px));
	}

	&.f-loading{
		@include box-shadow(none);
	}
}


.c{
	&_red{
		color: $colorRed;
	}

	&_blue{
		color: $colorBlue;
	}

	&_green{
		color: $colorGreen;
	}

	&_orange{
		color: $colorOrange;
	}
}


.blur{
	-webkit-filter: blur(5px);
}


.is-hidden{
	display: none!important;
}

.wrapper{
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
	position: relative;

	&_loading{
		//
	}

	&_welcome{
		//@include bgGradient;
	}

	&_app{

	}

}


.loading{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&__inner{
		display: inline-block;
		vertical-align: middle;
		width: 100px;
		height: 100px;
		background: url("/img/bars.svg") no-repeat 50% 50%;
		background-size: cover;
	}
}


.wsnw{
	white-space: nowrap!important;
}


.copy{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
}


.v-enter-active, .v-leave-active {
	@include transition(all 0.3s ease);

	.popup__layout{
		@include transition(transform 0.3s ease);
	}
}
.v-enter, .v-leave-to {
	opacity: 0;
	//filter: blur(3px);

	.popup__layout{
		@include transform(scale(0.5));
	}
}

.zoom-enter-active, .zoom-leave-active {
	@include transition(all 0.3s ease);
	@include transform(scale(1));
	opacity: 1;
}
.zoom-enter, .zoom-leave-to {
	opacity: 0;
	@include transform(scale(0.5));
}


/*

// out
.v-leave{
	@include transform(scale(1));
	opacity: 1;
	filter: blur(0);
}
.v-leave-active{
	@include transition(all 0.5s ease);
}
.v-leave-to{
	@include transform(scale(2));
	opacity: 0;
	filter: blur(10px);
}

//in
.v-enter{
	@include transform(scale(0.5));
	opacity: 0;
	filter: blur(10px);
}
.v-enter-active{
	@include transition(all 0.5s ease);
}
.v-enter-to{
	@include transform(scale(1));
	filter: blur(0);
	opacity: 1;
}
*/


.breadcrumb{
	display: block;
	margin-bottom: 2 * $padding;

	&-item{
		cursor: pointer;
	}
}


.leaflet-marker-icon{
	border: 0!important;
	background: 0!important;
}