.nav{

	min-height: calc(100vh - 20px);
	position: relative;
	@include box-sizing();
	padding-bottom: 48px;
	overflow: hidden;
	//width: $navWidth - 20px;

	&__head{
		height: 80px;
		white-space: nowrap;

		&-logo{


			width: 30px;
			height: 30px;

			overflow: hidden;
			@include border-radius(50%);
			position: relative;
			display: inline-block;
			vertical-align: middle;
			background: $colorWrapper;
			margin: 45px 10px 5px;
			@include transition(all 0.3s ease);


			.is-show-menu &{
				width: 60px;
				height: 60px;
				margin: 10px;
			}

			@include breakPoint($breakPointTable){
				width: 60px;
				height: 60px;
				margin: 10px;
			}

			&:after{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include border-radius(50%);
				@include box-shadow('inset');
			}

			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		&-text{
			font-family: $fontTitle;
			vertical-align: middle;
			color: $colorWrapper;
			width: 130px;
			font-size: 18px;
			max-height: 48px;
			overflow: hidden;
			white-space: normal;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

			display: none;


			.is-show-menu &{
				display: inline-block;
				display: -webkit-inline-box;
			}

			@include breakPoint($breakPointTable){
				display: inline-block;
				display: -webkit-inline-box;
			}

		}
	}


	&__item{


		&:last-child{

			.nav__link{
				border-bottom: transparent;
			}
		}
	}

	&__link{
		display: block;
		padding: 15px 0 12px 50px;
		position: relative;
		color: #fff;
		border-top: 1px solid rgba(#fff, 0.2);
		border-bottom: 1px solid rgba(#000, 0.2);
		@include box-sizing();
		@include user-select();
		white-space: nowrap;

		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			background: $colorBlue;
			@include transition(width 0.3s ease);
		}

		&:after{
			//content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: -5px;
			margin-top: -12px;
			border: 12px solid transparent;
			border-right: 0 solid $colorWrapper;
			@include transition(border 0.3s ease);
		}

		&:hover{
			color: #fff;
			background: rgba(0,0,0,0.15);
		}

		&:active{
			background: rgba(0,0,0,0.15);
		}

		&.is-active{
			background: rgba(0,0,0,0.3);

			&:before{
				width: 4px;
			}

			&:after{
				border-right-width: 12px;
			}
		}

		span{
			width: 100%;
			//overflow: hidden;
			display: inline-block;
		}
	}


	&__ico{
		position: absolute;
		width: 30px;
		height: 30px;
		line-height: 30px;
		top: 7px;
		left: 11px;
		text-align: center;
		font-size: 22px;
	}



	&__main{
		//height: calc(100% - 80px - 48px);
		//overflow-y: auto;
	}


	&__footer{
		position: absolute;
		bottom: 0;
		width: 100%;
	}




	&__submenu{
		display: none;
		padding: 10px;
		white-space: nowrap;

		.btn{
			display: block;
			margin-top: 10px;
			padding: 5px;
			@include transition();


			i{
				margin: 0;

				.is-show-menu &{
					margin-right: 5px;
				}

				@include breakPoint($breakPointTable){
					margin-right: 5px;
				}
			}

			span{
				color: transparent;
				max-width: 0;
				@include transition();

				.is-show-menu &{
					color: #fff;
					max-width: 100%;
				}

				@include breakPoint($breakPointTable){
					color: #fff;
					max-width: 100%;
				}
			}

			&:first-child{
				margin-top: 0;
			}

		}

		.nav__link.is-active ~ &{
			display: block;
		}
	}
}

.nav-info{
	display: inline-block;
	color: #fff;
	background: $colorRed;
	padding: 0 5px 0 3px;
	border-radius: 10px;
	position: relative;
	user-select: none;
	vertical-align: top;
	top: -4px;
	left: 5px;
	font-size: .7em;
	height: 14px;
	min-width: 6px;
	line-height: 14px;
	text-align: center;

	.tooltip{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}