
$breakPointContent: 540px;
$breakPointTable: 800px;
$breakPointDesk: 1000px;


$navWidth: 250px;
$navWidthCompact: 70px;

$padding: 10px;


$colorRed: #FF3800;
$colorGreen: #15bf00;
$colorOrange: #ffb100;

$colorBlue: #177dff;
$colorBlack: #191c27;
$colorGrey: #afb0ab;

$colorLink: $colorBlue;
$colorLinkHover: $colorBlue;
$colorWrapper: #e8e8e8;
$colorBorder: #f0f0f0;

$colorGradIn: #494d56;
$colorGradOut: #232428;


$fontTitle: 'Vollkorn', sans-serif;


@mixin borderRadius{
	@include border-radius(3px);
}


@mixin bgGradient($from: $colorGradIn, $to: $colorGradOut) {
	background: $from;
	background: -webkit-linear-gradient(to bottom, $from, $to);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, $from, $to); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin closeBtn($width: 30px, $height: 4px){
	position: absolute;
	width: $width;
	height: $width;
	//background: #f00 no-repeat 0 0;
	//background-size: cover;
	cursor: pointer;
	top: 22px;
	right: 22px;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		margin-top: -($height/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: #fff;
		@include border-radius(#{$height});
	}

	&:before{
		@include rotate(45);
	}

	&:after{
		@include rotate(135);
	}



	&:hover{
		background-position: 100% 0;
	}
}