<template lang="pug">
	Modal(:name="name")
		.popup__title Подтвердить событие
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				form-field(v-for='(field, index) in fields', :field='field', :key='index', :ref="field.name")
				.form__field.f-error(v-if="!!message"): .form__message {{message}}
</template>

<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'
	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	export default {
		props: ['name'],

		data () {

			let types = [];

			for ( let i = 0; i < this.$info.getEvent().length; i++){
				types.push({
					value: this.$info.getEvent()[i].value,
					html: `<b>${this.$info.getEvent()[i].name}</b>`,
					label: `${this.$info.getEvent()[i].name}`
				});
			}

			return {

				message: '',

				fields: [

					{
						type:'checkbox',
						placeholder: 'Событие завершено',
						name: 'confirm',
						value: true
					},

					{
						ico: 'ion-compose',
						type:'textarea',
						name: 'comment',
						placeholder: 'Комментарий по результатам события'
					},

					{
						type:'submit',
						value: 'Сохранить'
					}
				]
			}
		},

		created (){

		},

		destroyed (){

		},

		mounted(){

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]');

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){

					let data = this.$store.state.form.data, method = 'confirmEvent';
					data.id = this.$route.params.id;
					this.$api[method](data,
						(res)=>{
							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();
								this.$store.commit('clearForm');

								this.$api.getOverdueEventByUser({id: this.$store.state.auth.user.id},
									(res)=>{
										this.$store.commit('setOverdueEvents', res.data.data);
									},
									()=>{});
							} else {
								console.error('Ошибка', res.data);
								this.message = res.data.message || 'Ошибка. Подробности в консоли разработчика.';
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);

				}
			}
		},

		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>