<template lang="pug">
	Modal(:name="name")
		.popup__title(v-if='edit') Редактировать событие
		.popup__title(v-else) Новое событие
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				form-field(v-for='(field, index) in fields', :field='field', :key='index', :ref="field.name")
				.form__field.f-error(v-if="!!message"): .form__message {{message}}
</template>

<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'
	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	export default {
		props: ['name'],

		data () {

			let types = [];

			for ( let i = 0; i < this.$info.getEvent().length; i++){
				types.push({
					value: this.$info.getEvent()[i].value,
					html: `<b>${this.$info.getEvent()[i].name}</b>`,
					label: `${this.$info.getEvent()[i].name}`
				});
			}

			return {

				message: '',

				edit: this.$route.params.id,

				fields: [

					// {
					// 	hide: !this.$route.params.id,
					// 	ico: 'ion-compose',
					// 	type:'textarea',
					// 	name: 'comment',
					// 	placeholder: 'Комментарий по результатам события'
					// },

					{
						ico: 'ion-calendar',
						type: 'date',
						name: 'event_date',
						mask: '99-99-9999',
						placeholder: 'Дата события',
						value: this.$store.getters.getDate || '',
						required: true
					},

					{
						ico: 'ion-flag',
						type:'autocomplete',
						name: 'type',
						placeholder: 'Тип события',
						items: types,
						required: true
					},

					{
						ico: 'ion-clock',
						type:'autocomplete',
						name: 'notify',
						placeholder: 'Напоминание на email',
						items: [
							{
								value: '',
								label: `Не напоминать`,
								checked: !this.$route.params.id
							},
							{
								value: `08:00:00`,
								label: `08:00`
							},
							{
								value: `09:00:00`,
								label: `09:00`
							},
							{
								value: `10:00:00`,
								label: `10:00`
							},
							{
								value: `11:00:00`,
								label: `11:00`
							},
							{
								value: `12:00:00`,
								label: `12:00`
							},
							{
								value: `13:00:00`,
								label: `13:00`
							},
							{
								value: `14:00:00`,
								label: `14:00`
							},
							{
								value: `15:00:00`,
								label: `15:00`
							},
							{
								value: `16:00:00`,
								label: `16:00`
							},
							{
								value: `17:00:00`,
								label: `17:00`
							},
							{
								value: `18:00:00`,
								label: `18:00`
							},
							{
								value: `19:00:00`,
								label: `19:00`
							}
						]
					},


					{
						ico: 'ion-clipboard',
						type:'textarea',
						name: 'description',
						placeholder: 'Описание'
					},

					{
						ico: 'ion-briefcase',
						type:'autocomplete',
						name: 'id_company',
						placeholder: 'Компания',
						searchBy: 'company',
						items: [],
						required: true,
						onChange:(val)=>{

							this.$api.getObjectByCompany({id: val},
								(res)=>{

									for(let i = 0; i < this.fields.length; i++){

										if (this.fields[i].name === 'id_object'){
											this.fields[i].items = [];

											if ( res.data.data.length ){
												this.fields[i].disabled = !1;

												for(let j = 0; j < res.data.data.length; j++){
													this.fields[i].items.push({
														value: res.data.data[j].id,
														html: `<b>${res.data.data[j].address}</b>`,
														label: `${res.data.data[j].address}`
													})
												}

											} else {
												this.fields[i].disabled = !0;
											}

											break;
										}
									}
								},

								(err)=>{
									console.error(err);
								},
								()=>{

								}
							);
						}
					},

					{
						ico: 'ion-briefcase',
						type:'autocomplete',
						name: 'id_object',
						placeholder: 'Объект',
						items: [],
						disabled: true,
					},

					{
						ico: false,
						type:'autocomplete',
						name: 'users_ids',
						placeholder: 'Сотрудники, участвующие в событии',
						searchBy: 'user',
						multiple: true,
						multipleObject: !this.$route.params.id ? [this.$store.state.auth.user] : false,
						items: []
					},

					{
						type:'submit',
						value: !!this.$route.params.id ? 'Сохранить' : 'Добавить'
					}
				]
			}
		},

		created (){

		},

		destroyed (){

		},

		mounted(){

			if ( !!this.$route.params.id && this.$store.state.pageData && this.$store.state.pageData.extra && this.$store.state.pageData.extra.id_object ){
				this.$refs.id_object[0].label = `${this.$store.state.pageData.extra.id_object.address}`;
			}

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]');

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){

					let data = this.$store.state.form.data, method = this.edit ? 'updateEvent' : 'addEvent';
					if (this.edit) data.id = this.edit;
					this.$api[method](data,
						(res)=>{
							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();

								this.$store.commit('clearForm');

								this.$api.getOverdueEventByUser({id: this.$store.state.auth.user.id},
									(res)=>{
										this.$store.commit('setOverdueEvents', res.data.data);
									},
									()=>{});
							} else {
								console.error('Ошибка', res.data);
								this.message = res.data.message || 'Ошибка. Подробности в консоли разработчика.';
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);

				}
			}
		},

		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>