<template lang="pug">
	.popup.popup_auth.is-open
		.popup__overlay
		.popup__inner
			.popup__layout
				//-.popup__close
				.popup__content
					.popup__title Авторизация
					.popup__form
						form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
							form-field(v-for='(field, index) in fields', :field='field', :key='index')
</template>

<script>
	import FormField from '../component/form-field.vue'
	import Form from '../../modules/module.validate'
	import _ from 'lodash'
	import $ from 'jquery'

	const form = new Form();

	export default {

		data () {
			return {

				fields: [
					{
						ico: 'ion-at',
						type:'email',
						name: 'login',
						placeholder: 'Email',
						required: 'email'
					},
					{
						ico: 'ion-unlocked',
						type:'password',
						name: 'password',
						placeholder: 'Пароль',
						required: true
					},
					{
						type:'submit',
						value: 'Авторизоваться'
					}
				]
			}
		},

		created (){

		},

		beforeDestroy (){

		},

		methods: {
			formSubmit(e){

				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]');

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){
					this.$api.logIn(this.$store.state.form.data,
						(res)=>{
							this.$store.commit('setAuth', res.data);
							this.$info.setInfo(res.data.info);
							if ( res.data.message ) {
								$form
									.find('.form__message')
									.eq(-1)
									.html(res.data.message)
									.closest('.form__field')
									.addClass('f-error')
								;
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);
				}

			},
		},

		components: {
			FormField
		}
	}
</script>

<style lang="scss">

</style>