<template lang="pug">
	Modal(:name="name")
		.popup__title {{ $store.state.pageData.data.access ? 'Заблокировать профиль' : 'Активировать профиль'}}
		.popup__form(v-if="$store.state.pageData.data.email")
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				form-field(v-for='(field, index) in fields', :field='field', :key='index', :ref='field.name')
		.popup__text(v-else) Укажите почтовый адрес в профиле данного сотрудника.

</template>

<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'

	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();


	export default {
		props: ['name'],

		data () {

			if (DEVELOPMENT) console.info(this.$store.state.pageData.data.access);

			return {

				fields: [
					{
						type:'radio',
						placeholder: 'Статус пользователя',
						name: 'access',
						required: 'radio',
						hide: !!this.$store.state.pageData.data.access,
						items: [
							{
								ico: ' ',
								value: '1',
								label: 'Администратор'
							},
							{
								ico: ' ',
								value: '2',
								label: 'Пользователь'
							}
						]
					},
					{
						ico: 'ion-unlocked',
						type:'text',
						name: 'password',
						placeholder: 'Укажите пароль',
						required: true,
						hide: !!this.$store.state.pageData.data.access
					},

					{
						type:'submit',
						value: this.$store.state.pageData.data.access ? 'Закрыть доступ' : 'Открыть доступ'
					}
				]
			}
		},

		created (){

		},

		destroyed (){

		},

		mounted(){

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]')
				;

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});


				if ( !wrong ){

					let method = this.$store.state.pageData.data.access ? 'unsetAuth' : 'setAuth',
						data = {}
					;

					data.id = this.$route.params.id;
					data.access = data.password = this.$refs.access[0].value;
					if (!this.$store.state.pageData.data.access) data.password = this.$refs.password[0].value;

					this.$api[method](data,
						(res)=>{

							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();
								this.$store.commit('clearForm');
							} else {
								console.error('Ошибка', res.data);
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);
				}
			}
		},


		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>