<template lang="pug">
	Modal(:name="name")
		.popup__title Удаление {{ title }}
		.popup__text Восстановление {{ title }} после удаления будет невозможно.#[br]Вы уверены, что хотите удалить?
		.popup__btns
			.btn.btn_blue(@click="$store.commit('closePopup')"): span Нет, я передумал
			.btn.btn_red(@click="remove"): span Да, гори оно огнем

</template>

<script>

	import Modal from '../modal/modal.vue'

	export default {
		props: ['name'],

		data () {
			return {
				title: '',
				section: this.$route.name,
				id: this.$route.params.id
			}
		},

		mounted(){
			switch (this.section) {
				case 'user':
					this.title = 'профиля пользователя';
					break;
				case 'company':
					this.title = 'карточку компании';
					break;
				case 'template':
					this.title = 'шаблона';
					break;
				case 'event':
					this.title = 'события';
					break;
				case 'object':
					this.title = 'объекта';
					break;
			}
		},

		methods: {

			remove(){

				let method, url = '/', title = '';

				switch (this.section) {
					case 'user':
						method = 'removeUser';
						url = '/staff';
						break;
					case 'company':
						method = 'removeCompany';
						url = '/company';
						break;
					case 'template':
						method = 'removeTemplate';
						url = '/templates';
						break;
					case 'event':
						method = 'removeEvent';
						url = '/diary';
						break;
					case 'object':
						method = 'removeObject';
						url = '/objects';
						break;
				}

				if (DEVELOPMENT) console.info('remove ' + method);

				if ( method ){
					this.$api[method]({id: this.$route.params.id},
						(res)=>{
							if ( res.data.status ) this.$router.push(url);
						});
				}

			}
		},

		components: {
			Modal
		}
	}
</script>

<style lang="scss">

</style>