<template lang="pug">
	Modal(:name="name")
		.popup__title(v-if='edit') Редактировать объект
		.popup__title(v-else) Новый объект
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				.clearfix
					.form__column.form__column_left
						form-field(v-for='(field, index) in fields_1', :field='field', :key='index', :ref='field.name')
					.form__column.form__column_right
						form-field(v-for='(field, index) in fields_2', :field='field', :key='index', :ref='field.name')
				form-field(v-for='(field, index) in fields_3', :field='field', :key='index', :ref='field.name')

</template>

<script>

	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'

	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	export default {
		props: ['name'],

		data () {

			return {

				edit: this.$route.params.id,

				companyData: {},

				fields_1: [
					{
						ico: 'ion-cube',
						type:'cropper',
						name: 'img',
						placeholder: 'Изображение'
					}
				],

				fields_2: [
					{
						ico: 'ion-code',
						type:'text',
						name: 'name',
						placeholder: 'Название объекта',
						required: true
					},
					{
						ico: 'ion-briefcase',
						type:'autocomplete',
						name: 'id_company',
						placeholder: 'Компания',
						searchBy: 'company',
						items: [],
						required: true
					},
					{
						ico: false,
						type:'autocomplete',
						name: 'users_ids',
						placeholder: 'Сотрудники ответственные за объект',
						searchBy: 'user',
						multiple: true,
						items: []
					}
				],


				fields_3: [
					{
						ico: 'ion-location',
						type: 'text',
						name: 'address',
						placeholder: 'Адрес объекта',
						onChange:(val)=>{
							$.getJSON(`https://nominatim.openstreetmap.org/search`, {
								format: 'json',
								q: val,
								limit: 1,
								addressdetails: 1
							}, (res)=>{
								if ( res.length && res[0].lat ) this.$refs.coordinates[0].value = `${res[0].lat}, ${res[0].lon}`;
							})

						}
					},
					{
						ico: 'ion-compass',
						type: 'text',
						name: 'coordinates',
						placeholder: 'Координаты объекта',
						required: true
					},
					{
						ico: 'ion-ios-albums',
						type:'textarea',
						name: 'description',
						placeholder: 'Описание'
					},

					{
						type:'submit',
						value: !!this.$route.params.id ? 'Сохранить' : 'Добавить'
					}
				]
			}
		},

		created (){

//			if ( this.edit ){

//			}
		},

		destroyed (){

		},

		mounted(){

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]')
				;

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});


				if ( !wrong ){

					let data = this.$store.state.form.data, method = this.edit ? 'updateObject' : 'addObject';
					if (this.edit) data.id = this.edit;
					this.$api[method](data,
						(res)=>{

							if (res.data.status === true ){
								this.$store.commit('closePopup');
								// this.$route.matched[0].instances.default.loadPage();
								this.$router.go(this.$router.currentRoute);
								this.$store.commit('clearForm');
							} else {
								console.error('Ошибка', res.data);
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);
				}
			}
		},


		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>