<template lang="pug">
	Modal(:name="name")
		.popup__title(v-if='edit') Редактировать профиль контрагента
		.popup__title(v-else) Новый контрагент
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				.clearfix
					.form__column.form__column_left
						form-field(v-for='(field, index) in fields_1', :field='field', :key='index', :ref="field.name")
					.form__column.form__column_right
						form-field(v-for='(field, index) in fields_2', :field='field', :key='index', :ref='field.name')
				form-field(v-for='(field, index) in fields_3', :field='field', :key='index', :ref='field.name')

					//-.form__column.form__column_half-right
				.form__title Реквизиты банка
				form-field(v-for='(field, index) in fields_bank', :field='field', :key='index', :ref='field.name')
				.form__field.f-error(v-if="!!message"): .form__message {{message}}
</template>

<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'

	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	export default {
		props: ['name'],

		data () {

			let legal = [];

			for ( let i = 0; i < this.$info.getLegal().length; i++){
				legal.push({
					value: this.$info.getLegal()[i].value,
					html: `<b>${this.$info.getLegal()[i].shortName}</b> (${this.$info.getLegal()[i].fullName})`,
					label: `${this.$info.getLegal()[i].shortName} (${this.$info.getLegal()[i].fullName})`
				});
			}

			return {

				edit: this.$route.params.id,

				message: '',

				companyData: {},

				fields_1: [
					{
						ico: 'ion-briefcase',
						type:'cropper',
						name: 'img',
						placeholder: 'Логотип'
					}
				],

				fields_2: [
					{
						ico: 'ion-compose',
						type:'autocomplete',
						name: 'entity_legal',
						placeholder: 'Форма организации',
						items: legal,
						required: true
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'entity_shortname',
						placeholder: 'Сокращенное название',
						required: true
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'entity_fullname',
						placeholder: 'Полное название',
						required: true
					},
				],

				fields_3: [
					{
						ico: 'ion-pricetag',
						type:'text',
						name: 'entity_inn',
						placeholder: 'ИНН',
						mask: '9{10,12}',
						required: true
					},
					{
						ico: 'ion-pricetag',
						type:'text',
						name: 'entity_kpp',
						placeholder: 'КПП',
						mask: '9{9}',
						required: true
					},
					{
						ico: 'ion-pricetag',
						type:'text',
						name: 'entity_ogrn',
						placeholder: 'ОГРН',
						mask: '9{13}'
					},
					{
						ico: 'ion-pricetag',
						type:'text',
						name: 'entity_okpo',
						placeholder: 'ОКПО',
						mask: '9{8,10}'
					},
					{
						type:'radio',
						placeholder: 'НДС',
						name: 'entity_nds',
						//required: 'radio',
						items: [
							{
								ico: ' ',
								value: '0',
								label: 'Без НДС'
							},
							{
								ico: ' ',
								value: '10',
								label: 'НДС 10%'
							},
							{
								ico: ' ',
								value: '18',
								label: 'НДС 18%'
							}
						]
					},

					{
						ico: 'ion-person',
						type:'autocomplete',
						name: 'entity_director',
						placeholder: 'Руководитель',
						searchBy: 'user',
						items: []
					},
					{
						ico: 'ion-person',
						type:'autocomplete',
						name: 'entity_accountant',
						placeholder: 'Главный бухгалтер',
						searchBy: 'user',
						items: []
					},
					{
						ico: 'ion-ios-telephone',
						type:'text',
						name: 'entity_phone',
						mask: '+7 999 999-99-99',
						placeholder: 'Номер телефона'
					},
					{
						ico: 'ion-at',
						type:'email',
						name: 'entity_email',
						placeholder: 'Электронная почта',
						required: 'email_n'
					},
					{
						ico: 'ion-location',
						type:'text',
						name: 'entity_legal_address',
						placeholder: 'Юридический адрес',
						required: true
					},
					{
						ico: 'ion-location',
						type:'text',
						name: 'entity_actual_address',
						placeholder: 'Фактический адрес',
						required: true
					},
					{
						ico: 'ion-clipboard',
						type:'textarea',
						name: 'description',
						placeholder: 'Описание'
					},

					{
						type:'checkbox',
						//checked: true,
						placeholder: 'Ненадежный',
						name: 'ignored',
						value: false
					}
				],

				fields_bank: [
					{
						ico: 'ion-code',
						type:'text',
						name: 'bank_bik',
						placeholder: 'БИК банка',
						mask: '9{9}',
						required: true
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'bank_name',
						placeholder: 'Наименование банка',
						required: true
					},
					{
						ico: 'ion-location',
						type:'text',
						name: 'bank_placement',
						placeholder: 'Местонахождение банка',
						required: true
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'bank_ccheck',
						placeholder: 'Корреспондентский счет',
						mask: '9{20}',
						//-required: true
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'bank_rcheck',
						placeholder: 'Расчетный счет',
						mask: '9{20}',
						required: true
					},

					{
						type:'submit',
						value: !!this.$route.params.id ? 'Сохранить' : 'Добавить'
					}
				]
			}
		},

		created (){

			if ( this.edit ){

			}
		},

		beforeDestroy(){
			$(this.$el).find('[name=bank_bik]').off('keyup');
		},

		mounted(){

			$(this.$el).find('[name=bank_bik]').on('keyup', (e)=>{

				let url = process.env.NODE_ENV === 'development' ? '/data/bik.json' : '//bik-info.ru/api.html';

				if ( e.target.value.length >= 9 && e.target.value.indexOf('_') < 0 ){
					$.getJSON(url, {
						type: "json",
						bik: e.target.value
					}, (data)=>{

						$(e.target).blur();

						if ( !data.error ){
							if (DEVELOPMENT) console.info(data);
							this.$refs.bank_name[0].value = data.name.replace(/&quot;/g, '"');
							this.$refs.bank_placement[0].value = data.city + '. ' + data.address;
							this.$refs.bank_ccheck[0].value = data.ks;
						}
					})
				}
			});
		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]')
				;

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){

					let data = this.$store.state.form.data, method = this.edit ? 'updateCompany' : 'addCompany';
					if (this.edit) data.id = this.edit;
					this.$api[method](data,
						(res)=>{
							if (DEVELOPMENT) console.info(this);
							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();
								this.$store.commit('clearForm');
							} else {
								console.error('Ошибка', res.data);
								this.message = res.data.message || 'Ошибка. Подробности в консоли разработчика.';
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);
				}
			}
		},


		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>