<template lang="pug">
	transition(mode='out-in')
		.popup.popup_add.is-open(v-if="$store.state.popup.name === name")
			.popup__overlay
			.popup__inner
				.popup__layout
					.popup__cls(@click="$store.commit('closePopup')")
					.popup__content
						slot

</template>

<script>
	export default {

		props: ['name'],

		data() {
			return {

			}
		}

	}
</script>

<style scoped lang="scss">

</style>


