<template lang="pug">
	Modal(:name="name")
		.popup__title(v-if='edit') Редактировать шаблон
		.popup__title(v-else) Новый шаблон
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				form-field(v-for='(field, index) in fields', :field='field', :key='index', :ref='field.name')
				.form__field.f-error(v-if="!!message"): .form__message {{message}}
</template>


<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'

	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	export default {
		props: ['name'],

		data () {

			let legal = [];

			for ( let i = 0; i < this.$info.getDocType().length; i++){
				legal.push({
					value: this.$info.getDocType()[i].value,
					html: `<b>${this.$info.getDocType()[i].name}</b>`,
					label: `${this.$info.getDocType()[i].name}`
				});
			}

			return {

				edit: this.$route.params.id,

				message: '',

				fields: [
					{
						ico: 'ion-document',
						type:'file',
						acceptMIME: 'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
						files: ['docx', 'doc'],
						name: 'file',
						required: !this.$route.params.id,
						placeholder: this.$route.params.id ? 'Изменить шаблон документа' : 'Шаблон документа'
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'name',
						placeholder: 'Название',
						required: true
					},
					{
						ico: 'ion-briefcase',
						type:'autocomplete',
						name: 'id_company',
						placeholder: 'Компания исполнитель (инициатор документа)',
						searchBy: 'company',
						items: [],
						required: true
					},
					{
						ico: 'ion-compose',
						type:'autocomplete',
						name: 'type',
						placeholder: 'Тип документа',
						items: legal,
						required: true
					},
					{
						ico: 'ion-clipboard',
						type:'textarea',
						name: 'description',
						placeholder: 'Описание'
					},

					{
						type:'submit',
						value: !!this.$route.params.id ? 'Сохранить шаблон' : 'Добавить шаблон'
					}
				]
			}
		},

		created (){

			if ( this.edit ){

			}
		},

		beforeDestroy(){
			$(this.$el).find('[name=bank_bik]').off('keyup');
		},

		mounted(){

//			this.$watch(e=>this.$refs.file[0].value,
//				(val) => {
//
//				}
//			);

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]')
				;

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{

							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){

					let data = this.$store.state.form.data, method = this.edit ? 'updateTemplate' : 'addTemplate';
					if (this.edit) data.id = this.edit;

					this.$api[method](data,
						(res)=>{

							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();
								this.$store.commit('clearForm');
							} else {
								console.error('Ошибка', res.data);
								this.message = res.data.message || 'Ошибка. Подробности в консоли разработчика.';
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);
				}
			}
		},


		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>