<template lang="pug">
	Modal(:name="name")
		.popup__title(v-if='edit') Редактировать документ
		.popup__title(v-else) Новый документ
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				form-field(v-for='(field, index) in fields_head', :field='field', :key='index', :ref="field.name")
				.form__description(v-if="description") {{ description }}
				.form__title(v-if="fields_variables.length") Переменные
				form-field(v-for='(field, index) in fields_variables', :field='field', :key='index', :ref="field.name")
				form-field(v-for='(field, index) in fields_foot', :field='field', :key='index', :ref="field.name")
				.form__field.f-error(v-if="!!message"): .form__message {{message}}
</template>

<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'

	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	import docparser from '../../modules/module.variables'
	import priceToStroke from '../../modules/module.pricetostroke'

	export default {
		props: ['name'],

		data () {

			let company = {
				variables: {},
				select: []
			},
				is_edit = this.$route.name === 'document',
				editFields = []
			;

			if ( this.$route.name === 'company' ){
				company.select = [{
					checked: true,
					value: this.$store.state.pageData.data.id,
					html: `${this.$store.state.pageData.data.entity_legal ? this.$info.getLegal(this.$store.state.pageData.data.entity_legal).shortName : ''} ${this.$store.state.pageData.data.entity_fullname}`,
					label: `${this.$store.state.pageData.data.entity_legal ? this.$info.getLegal(this.$store.state.pageData.data.entity_legal).shortName : ''} ${this.$store.state.pageData.data.entity_fullname}`
				}];
			}

			return {

				edit: is_edit,

				message: '',

				description: '',

				variablesStore: {},

				variables: {},

				fields_head: [
					{
						ico: 'ion-briefcase',
						type:'autocomplete',
						name: 'id_company',
						placeholder: 'Заказчик',
						searchBy: 'company',
						items: company.select,
						required: true,
						onChange:(val)=>{
							this.updateVariables();
						}
					},
					{
						ico: 'ion-person',
						type:'autocomplete',
						name: 'id_template',
						placeholder: 'Шаблон',
						searchBy: 'template',
						items: [],

						onChange:(val)=>{
							this.updateVariables();
						}
					},
					{
						ico: 'ion-code',
						type: 'text',
						name: 'document_number',
						value: '',
						placeholder: 'Номер документа',
						required: true,
						onChange:(val)=>{

						}
					}
				],

				fields_variables: [
				],

				fields_foot: [
					{
						ico: 'ion-clipboard',
						type:'textarea',
						name: 'comment',
						placeholder: 'Комментарий к документу'
					},

					{
						type:'checkbox',
						placeholder: 'Документ исполнен',
						name: 'done',
						value: false
					},
					{
						type:'submit',
						value: !!this.$route.params.id ? 'Сохранить' : 'Добавить'
					}
				]
			}
		},

		created (){

			if ( this.edit ){

			}
		},

		beforeDestroy(){

		},

		mounted(){

			if (this.edit && this.$store.state.pageData.data.variables){
				this.updateVariables(true);
			}

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]')
				;

				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){

					let data = this.$store.state.form.data, method = this.edit ? 'updateDocument' : 'addDocument';
					if (this.edit) data.id = this.$route.params.id;
					if (this.variables) data.variables = JSON.stringify(this.variables);

					if (DEVELOPMENT) console.info(method, data);

					this.$api[method](data,
						(res)=>{
							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();
								this.$store.commit('clearForm');
							} else {
								console.error('Ошибка', res.data);
								this.message = res.data.message || 'Ошибка. Подробности в консоли разработчика.';
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);
				}
			},


			updateVariables(load){

				let cID = this.$store.state.form.data.id_company,
					tID = this.$store.state.form.data.id_template
				;

				//console.info(cID, tID);

				if (!cID || !tID) return false;

				let company = new Promise((resolve, reject)=>{
					return this.$api.getCompanyItem({id: cID},
						(res)=>{
							resolve(res.data);
						},

						(err)=>{
							reject(err);
						},
						()=>{

						}
					);
				}),
				template = new Promise((resolve, reject)=>{
					return this.$api.getTemplateItem({id: tID},
						(res)=>{
							resolve(res.data);
						},

						(err)=>{
							reject(err);
						},
						()=>{

						}
					);
				});

				Promise.all([company, template]).then(values => {
					this.parseVariables(values[0], values[1], load);
				}, reason => {
					console.log(reason)
				});
			},

			parseVariables(comp, temp, load){

				let customVars = {};

				if (load && this.$store.state.pageData.data.variables){
					this.variablesStore = customVars = JSON.parse(this.$store.state.pageData.data.variables);
				} else if (!load){
					this.$refs['document_number'][0].value = `${this.$info.getDocType(temp.data.type).prefix ? this.$info.getDocType(temp.data.type).prefix + '-' : ''}${comp.data.id}-${this.edit ? this.$route.params.id : '{generated_document_id}'}`;
				}

				this.variables = Object.assign({}, docparser(this.$info, temp.data.variables, [comp.data, comp.extra]), customVars);

				this.fields_variables = [];
				this.description = temp.data.description;

				setTimeout(()=>{

					_.map(this.variables, (value, key)=>{

						if ( !!this.variablesStore[key] && !value ) value = this.variablesStore[key];

						if (key === 'crm_doc_number'){
							// do nothing
						} else if (key.match(/^crm_date/i)){

							let date;

							if ( value ){
								let d = value.match(/(\d|[а-я])+/ig),
									m = {'января': '01','февраля': '02','марта': '03','апреля': '04','мая': '05','июня': '06','июля': '07','августа': '08','сентября': '09','октября': '10','ноября': '11','декабря': '12',}
								;
								date = new Date(`${m[d[1]]}-${d[0]}-${d[2]}`);
							} else {
								date = new Date();
							}

							this.fields_variables.push({
								mask: '99-99-9999',
								ico: 'ion-code',
								type: 'date',
								local: true,
								name: key.trim(),
								value: `${date.getDate().toString().length > 1 ? date.getDate() : '0' + date.getDate() }-${(date.getMonth() + 1).toString().length > 1 ? (date.getMonth() + 1) : '0' + (date.getMonth() + 1)}-${date.getFullYear()}`,
								placeholder: 'Дата создания документа',
								onChange:(val)=>{
									this.variablesStore[key.trim()] = this.variables[key.trim()] = Object.assign({}, docparser(this.$info, temp.data.variables, [comp.data, comp.extra], val))[key.trim()];
								}
							});
						} else if ( !key.match(/^crm_/i) ){

							let is_textarea = key.match(/^_textarea_/i),
								is_price = key.match(/^_price_/i);

							if ( is_price && value ){
								let int = parseInt(value.match(/((\s)?\d+)+/i)[0].replace(/\s/ig, '')),
									decimal = parseInt(value.match(/\s\d{2}\s/i)[0]) / 100
								;
								value = int + decimal;
							} else if (is_textarea && value) {
								value = value.replace(/<w:br\/>/ig, '\n')
							}

							this.fields_variables.push({
								ico: 'ion-code',
								type: is_textarea ? 'textarea' : is_price ? 'number' : 'text',
								local: true,
								name: key.trim(),
								value: value,
								placeholder: key,
								onChange:(val)=>{
									if ( is_price ){
										let price = priceToStroke(val);
										this.variablesStore[key] = this.variables[key] = `${parseInt(val).discharge()} (${price.number}) ${price.rubles} ${price.kopeck}`;
									} else {
										this.variablesStore[key] = this.variables[key] = val.replace(/\n/igm, '<w:br/>')
									}
								}
							});
						}
					});

				}, 0);
			}
		},


		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>