<template lang="pug">
	Modal(:name="name")
		.popup__title(v-if='edit') Редактировать профиль сотрудника
		.popup__title(v-else-if="isSetting") Редактировать профиль
		.popup__title(v-else) Новый сотрудник
		.popup__form
			form.form(@submit.prevent='formSubmit', novalidate, autocomplete='off')
				.clearfix
					.form__column.form__column_left(v-if="isSuper || isSetting")
						form-field(v-for='(field, index) in fields_1', :field='field', :key='index')
					.form__column.form__column_right(v-if="isSuper || isSetting")
						form-field(v-for='(field, index) in fields_2', :field='field', :key='index')
				form-field(v-for='(field, index) in fields_3', :field='field', :key='index')
				.form__field.f-error(v-if="!!message"): .form__message {{message}}
</template>

<script>
	import Modal from '../modal/modal.vue'
	import FormField from '../component/form-field.vue'
	import _ from 'lodash'
	import $ from 'jquery'

	import Form from '../../modules/module.validate'
	const form = new Form();

	export default {
		props: ['name'],
		data () {

			let isSetting = this.$route.name === 'settings',
				isSuper = this.$store.state.auth.rank < 1;

			return {

				isSetting: isSetting,

				isSuper: isSuper,

				edit: this.$route.params.id,

				message: '',

				fields_1: [
					{
						ico: 'ion-person',
						type:'cropper',
						name: 'img',
						placeholder: 'Фото',
					}
				],

				fields_2: [
					{
						ico: 'ion-code',
						type:'text',
						name: 'second_name',
						placeholder: 'Фамилия',
						required: true
					},
					{
						ico: 'ion-code',
						type:'text',
						name: 'first_name',
						placeholder: 'Имя',
						required: true
					},
					{
						ico: 'ion-code',
						type: 'text',
						name: 'third_name',
						placeholder: 'Отчество'
					},
					{
						ico: 'ion-calendar',
						type: 'date',
						name: 'birthday',
						allDates: true,
						mask: '99-99-9999',
						placeholder: 'День рождения',
						hide: isSuper && isSetting || isSetting
					},
					{
						ico: false,
						type:'autocomplete',
						name: 'company_id',
						placeholder: 'Компании',
						searchBy: 'company',
						multiple: true,
						items: [],
						required: true,
						hide: isSetting
					},
					{
						type:'radio',
						placeholder: 'Пол',
						name: 'gender',
						required: 'radio',
						hide: isSetting,
						items: [
							{
								ico: 'ion-man',
								value: 'male',
								label: 'Мужской'
							},
							{
								ico: 'ion-woman',
								value: 'female',
								label: 'Женский'
							}
						]
					}
				],

				fields_3: [
					{
						ico: 'ion-pricetag',
						type:'text',
						name: 'position',
						placeholder: 'Должность',
						hide: isSuper && isSetting
					},
					{
						ico: 'ion-at',
						type:'email',
						name: 'email',
						placeholder: !isSuper && isSetting ? 'Для смены почты, обратитесь к администратору' : 'Электронная почта',
						required: 'email_n',
						disabled: !isSuper && isSetting,
						//hide: isSuper && isSetting
					},
					{
						ico: 'ion-ios-telephone',
						type:'text',
						name: 'phone',
						mask: '+7 999 999-99-99',
						hide: isSuper && isSetting,
						placeholder: !isSuper && isSetting ? 'Для смены номера, обратитесь к администратору' : 'Номер телефона',
						disabled: !isSuper && isSetting
					},
					{
						ico: 'ion-asterisk',
						type:'password',
						name: 'password',
						placeholder: 'Новый пароль',
						hide: !isSetting
					},
					{
						ico: 'ion-compose',
						type:'textarea',
						name: 'description',
						placeholder: 'Описание',
						hide: isSetting
					},

					{
						type:'submit',
						value: !!this.$route.params.id || isSetting ? 'Сохранить' : 'Добавить'
					}
				]
			}
		},

		created (){

		},

		destroyed (){

		},

		mounted(){

		},

		methods: {

			formSubmit(e){
				let $form = $(e.target),
					wrong = false,
					$sbmt = $form.find('[type=submut]');

				this.message = '';
				$form.find('.f-error').removeClass('f-error');
				$form.find('.form__message').html('');
				$sbmt.addClass('f-loading');

				_.map(e.target.querySelectorAll('input'), (input)=>{
					let rule = input.getAttribute('data-require');
					if ( rule ){
						form.validate(input, rule, err =>{
							if (err.errors.length) {
								wrong = true;
								$(input)
									.closest('.form__field')
									.addClass('f-error')
									.find('.form__message')
									.html(err.errors[0])
								;
							}
						})
					}
				});

				if ( !wrong ){


					let data = this.$store.state.form.data, method = this.$route.name === 'settings' ? 'updateUserOwner' : this.edit ? 'updateUser' : 'addUser';

					if (this.edit) data.id = this.edit;
					if (this.$route.name === 'settings') data.id = this.$store.state.auth.user.id;

					this.$api[method](data,
						(res)=>{
							if (res.data.status === true ){
								this.$store.commit('closePopup');
								this.$route.matched[0].instances.default.loadPage();
								this.$store.commit('clearForm');
							} else {
								console.error('Ошибка', res.data);
								this.message = res.data.message || 'Ошибка. Подробности в консоли разработчика.';
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							$sbmt.removeClass('f-loading');
						}
					);

				}
			}
		},

		components: {
			FormField,
			Modal
		}
	}
</script>

<style lang="scss">

</style>